<?php 
	$fieldType = $this->getField()->getType();
	$jsUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS);
	$fieldId = $this->getFieldId();
?>

<link rel="stylesheet" type="text/css" href="<?php echo $jsUrl . 'datetimepicker/jquery.datetimepicker.css' ?>" />
<script type="text/javascript" src="<?php echo $jsUrl . 'datetimepicker/jquery.datetimepicker.js' ?>"></script>

<input type='text' name='<?php echo $this->getFieldName()?>' id='<?php echo $fieldId; ?>' class='<?php echo $this->getFieldClass()?>' style='<?php echo $this->getFieldStyle()?>' value='<?php echo $this->getCustomerValue()?>' />
<script type="text/javascript">
	$j(document).ready(function () {
		<?php if($fieldType == 'date'){ ?>

			jQuery('#<?php echo $fieldId; ?>').datetimepicker({
				timepicker:false,
				format: "d M Y"
			});

		<?php }elseif($fieldType == 'datetime'){ ?>
			jQuery('#<?php echo $fieldId; ?>').datetimepicker({
				step: 15,
				format: "d M Y, H:i A"
			});
		<?php } ?>
	});	
</script>	