<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php $items = $this->getItems() ?>
<div class="page-head">
<h3><?php echo $this->getHeader()?></h3>
</div>
<?php echo $this->__('Search: '); echo '<input type="text" class="amshopby_attr_search input-text" onkeyup="amshopby_attr_search(this)" />';
?>
<div class="content">
<?php if ($items): ?>
<?php $width = floor(100/count($items)) ?>
<?php foreach ($items as $letters): ?>
    <div style="float:left; width:<?php echo $width ?>%">
    <?php foreach ($letters as $letter => $options): ?>
    <dl>
        <dt><h4><span style="color: #ff0000;"><strong><?php echo $letter ?></strong></span></h4></dt>
		
        <dd>
            <ol class="bare-list">
            <?php foreach ($options as $o): ?>
                <li>
                    <a href="<?php echo $o['url'] ?>">
                        <?php if ($o['img']): ?>
                            <img src="<?php echo $o['img'] ?>" />
                        <?php else: ?>
                            <?php echo $this->htmlEscape($o['label']) ?>
                        <?php endif ?>
                        <?php echo '&nbsp;<span class="count">('.$o['cnt'].')</span>'; ?>
                    </a>
                </li>
            <?php endforeach ?>
            </ol>
        </dd>
    </dl>
    <?php endforeach ?>
    </div>
<?php endforeach ?>
    <div style="clear:both;"></div>
<?php endif ?>
</div>