<?php 
$randomId = Mage::helper('popup')->getRandString();
$services = explode(",",$this->getData('services'));
$template = $this->getData('button_style');
if(Mage::app()->getStore()->isCurrentlySecure()){
  $action = Mage::getUrl('popup/coupon/new', array('_forced_secure' => true));         
}else{
  $action = Mage::getUrl('popup/coupon/new');
} 
?>
<div class="followPopup tp<?echo $template?>" id="<?php echo $randomId;?>">
  <form action="<?php echo $action ?>" method="post" id="coupon-form" onsubmit="return false">
  <input type="hidden" name="coupon_type" value="<?php echo $this->getData('coupon_type')?>" />
  <input type="hidden" name="rule_id" value="<?php echo $this->getData('rule_id')?>" />
  <input type="hidden" name="coupon_code" value="<?php echo $this->getData('coupon_code')?>" />
  <input type="hidden" name="apply_coupon" value="<?php echo $this->getData('apply_coupon')?>" />
  </form>
  <ul>
  <?php if(in_array("gplus",$services)):?>
  <li class="gplusRecommend">               
    <g:plusone size="tall"<?php if($template==2):?> annotation="none"<?php endif;?> recommendations="false" href="<?php echo $this->getData('share_url')?>" callback="gplusCallback"></g:plusone>
  </li>
  <?php endif;?>
  <?php if(in_array("twitter_follow",$services)):?>
  <li class="twitterFollow">
    <?php if($template!=2):?>
    <img src="<?php echo $this->getSkinUrl('css/popup/widget/follow/twitter.png') ?>" />
    <?php endif;?>
    <a href="https://twitter.com/<?php echo $this->getData('twitter_username')?>" class="twitter-follow-button" data-width="60px" data-count="vertical" data-size="small" data-show-screen-name="false"></a>  
  </li>    
  <?php endif;?>
  <?php if(in_array("twitter",$services)):?>
  <li class="twitterTweet">
    <a href="https://twitter.com/share" data-url="<?php echo $this->getData('share_url')?>" class="twitter-share-button" data-lang="en" <?php if($template!=2):?> data-count="vertical"<?php endif;?>></a>
  </li> 
  <?php endif;?>
  <?php if(in_array("facebook",$services)):?>        
  <div id="fb-root"></div> 
  <li class="fbLike">
    <div data-share="false" data-show-faces="false" data-layout="<?php if($template!=2):?>box_count<?php else:?>button<?php endif;?>" data-href="<?php echo $this->getData('share_url')?>" data-action="like" class="fb-like"></div>
  </li>
  <?php endif;?>
  <?php if(in_array("pinterest_follow",$services)):?> 
  <li class="pinFollow">
    <?php if($template!=2):?>
    <img src="<?php echo $this->getSkinUrl('css/popup/widget/follow/pinterest.png') ?>" />
    <?php endif;?>
    <span id="pinButton"><a data-pin-do="buttonFollow" href="http://www.pinterest.com/<?php echo $this->getData('pinterest_username')?>/">Follow</a></span>                         
  </li>
  <?php endif;?>
  </ul>    
</div>
<script src="<?php echo $this->getSkinUrl('js/popup/follow.js') ?>"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<script type="text/javascript">  
var successMsg = decodeURIComponent(('<?php echo urlencode(Mage::helper('cms')->getBlockTemplateProcessor()->filter(urldecode($this->getData('success_msg')))) ?>'+'').replace(/\+/g, '%20'));
var workingText = '<?php echo $this->__('Working')?>...';
var popupId = jQuery("#<?php echo $randomId?>").closest(".dialog").attr('data-popupid');
</script>