<h1>CUSTOMIZE MAGENTO LAYOUT</h1>

<h2>ADD PAGINATION TO LISTS</h2>

<p>Example product list with pagination:</p>

<pre><code>        &lt;block type="customRelations/catalog_product_list" name="newlist"&gt;
            &lt;action method="setProductLinkTypeCode"&gt;
                &lt;value&gt;custom_product_accesories&lt;/value&gt;
            &lt;/action&gt;
            &lt;action method="setTemplate"&gt;
                &lt;template&gt;catalog/product/list/any3.phtml&lt;/template&gt;
            &lt;/action&gt;

            &lt;block type="catalog/product_list_toolbar" name="product_list_toolbar" as="toolbar" template="catalog/product/list/toolbar.phtml"&gt;
                &lt;block type="page/html_pager" name="product_list_toolbar_pager"/&gt;
                &lt;!-- The following code shows how to set your own pager increments --&gt;
                &lt;!--
                    &lt;action method="setDefaultListPerPage"&gt;&lt;limit&gt;4&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="setDefaultGridPerPage"&gt;&lt;limit&gt;9&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="addPagerLimit"&gt;&lt;mode&gt;list&lt;/mode&gt;&lt;limit&gt;2&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="addPagerLimit"&gt;&lt;mode&gt;list&lt;/mode&gt;&lt;limit&gt;4&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="addPagerLimit"&gt;&lt;mode&gt;list&lt;/mode&gt;&lt;limit&gt;6&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="addPagerLimit"&gt;&lt;mode&gt;list&lt;/mode&gt;&lt;limit&gt;8&lt;/limit&gt;&lt;/action&gt;
                    &lt;action method="addPagerLimit" translate="label"&gt;&lt;mode&gt;list&lt;/mode&gt;&lt;limit&gt;all&lt;/limit&gt;&lt;label&gt;All&lt;/label&gt;&lt;/action&gt;
                --&gt;
            &lt;/block&gt;

        &lt;/block&gt;
</code></pre>

<h2>CREATE A "ADD TO CART" SELECTOR </h2>

<pre><code>    example create a selector on the product view:
    $accesories = $this-&gt;getLayout()-&gt;createBlock('customRelations/catalog_product_list')
        -&gt;setTemplate('catalog/product/list/select.phtml')
        -&gt;setProductLinkTypeCode('custom_product_accesories');

    echo $accesories-&gt;toHtml();
</code></pre>

<h2>RENDER CONFIGURED CUSTOM RELATION</h2>

<p>If you already have a custom relation and you are including it on the product view container, then you dont need to call createBlock, instead you can just retrieve it from your layout, in your view.phtml place:</p>

<pre><code>    $product_view = $this;
    //Plint producten
    $name = 'plint_producten';

    $block = $product_view-&gt;getChild('catalog.product.custonrelations' . $name . '.product.info');

    if ($block) {
        echo $block-&gt;toHtml();

    }
    //Accessoires productenk     
    include(dirname(__FILE__) . '/tabs.phtml');    $name = 'accessoires_producten';

    $block = $product_view-&gt;getChild('catalog.product.custonrelations' . $name . '.product.info');

    if ($block) {
        echo $block-&gt;toHtml();

    }
</code></pre>

<h2>ADD LIST TO TABS</h2>

<p><strong>add tab on magento 1.4</strong></p>

<pre><code>    //create the relation list
    $accesories = $this-&gt;getLayout()-&gt;createBlock('customRelations/catalog_product_list')
    -&gt;setTemplate('catalog/product/list/any.phtml')
    -&gt;setProductLinkTypeCode('custom_product_accesories') // where product_accesories is the name of your attribute
    ;

    //append the relation list to the product tabs
    $product_tabs = $this-&gt;getLayout()-&gt;getBlock('product.info.tabs');
    if ($product_tabs) {
    $product_tabs-&gt;addTab("accesories", 'Accesories', 'core/template', 'notused');
    $product_tabs-&gt;setChild("accesories", $accesories);
    } else {
        //if this fires up, then you dont have this kind of product tabs and you are probably in a newer version of magento.
        die("you dont have a product tab");
    }
</code></pre>

<p><strong>add tab on magento 1.5+</strong></p>

<pre><code>    //create the relation list
    $accesories = $this-&gt;getLayout()-&gt;createBlock('customRelations/catalog_product_list')
    -&gt;setTemplate('catalog/product/list/any.phtml')
    -&gt;setProductLinkTypeCode('custom_product_accesories') // where product_accesories is the name of your attribute
    ;
    //append the relation list to the product tabs
    $this-&gt;setChild('accesories', $accesories);
    $this-&gt;addToParentGroup('detailed_info');
    $accesories-&gt;setTitle('Accesories');
</code></pre>

<p><strong>all versions</strong></p>

<p>If the previous doesn't work for you, then probably you have some changes on your theme. 
However there is an alternative way to add the tabs.</p>

<p>Into your layout you must firt add the tab block:</p>

<pre><code>    &lt;catalog_product_view translate="label"&gt;
    &lt;label&gt;Catalog Product View (Any)&lt;/label&gt;  
    ....
    &lt;reference name="content"&gt;
    &lt;block type="catalog/product_view" name="product.info" template="catalog/product/view.phtml"&gt;
    ....
         &lt;block type="catalog/product_view_tabs" name="product.product.tabs" as="product_tabs" template="catalog/product/view/product_tabs.phtml"&gt;
         &lt;/block&gt;
    ....
    &lt;/block&gt;
    &lt;/reference&gt;
    ....
    &lt;/catalog_product_view&gt;
</code></pre>

<p>You must then add a product_tabs.phtml files, located on the directory specified on the instruction. Please make sure you also have the tabs.phtml in that same folder, that file should come with your theme installation, if it's not there you can copy it from base/default. </p>

<p>product_tabs.phtml:</p>

<pre><code>    &lt;?php
    /**
     * Product view template
     *
     * @see Mage_Catalog_Block_Product_View

     */
        $product_tabs = $this;

        $product_view = $this-&gt;getParentBlock();
        //Plint producten
        $name = 'plint_producten';

        $block = $product_view-&gt;getChild('catalog.product.custonrelations' . $name . '.product.info');

        if ($block) {
            $product_tabs-&gt;addTab($name, 'Plinten', 'core/template', 'notused');

            $product_tabs-&gt;setChild($name, $block);

        }
        //Accessoires producten
        $name = 'accessoires_producten';

        $block = $product_view-&gt;getChild('catalog.product.custonrelations' . $name . '.product.info');

        if ($block) {
            $product_tabs-&gt;addTab($name, 'Accessoires', 'core/template', 'notused');

            $product_tabs-&gt;setChild($name, $block);

        }

        include(dirname(__FILE__) . '/tabs.phtml');
</code></pre>

<p>In the previous example you should place your own product names, the only lines you are suppose to change is the one were it says $name = ..., you should put there the attribute name that you created, and you can add multiple attributes to this tab block, so that mutliple listing are in the same tabs component.</p>

<p>Finally you must edit your view.phtml and place the following: </p>

<pre><code>    echo $this-&gt;getChildHtml("product_tabs");
</code></pre>

<p>You should add that wherever  you want to show the related product listings.</p>

<h2>ADD TAB CONDITIONALLY (ONLY WHERE THERE IS RELATED PRODUCTS)</h2>

<p>If you have three new relations, you can add the tabs conditionally based on if the product has any related product for them. Edit your view.phtml:</p>

<pre><code>$product_tabs = $this-&gt;getLayout()-&gt;getBlock('product.info.tabs');

$tabs = array(
    array(
        'name' =&gt; 'fixing_sets',
        'title' =&gt; $this-&gt;__('Fixing Sets'),
    ),
    array(
        'name' =&gt; 'product_alternatives',
        'title' =&gt; $this-&gt;__('Alternatives'),
    ),
    array(
        'name' =&gt; 'product_accesories',
        'title' =&gt; $this-&gt;__('Accessories'),
    ),
);

foreach ($tabs as $tab) {
    $block = $this-&gt;getLayout()-&gt;createBlock('customRelations/catalog_product_list')
        -&gt;setTemplate('catalog/product/list/any.phtml')
        -&gt;setProductLinkTypeCode('custom_' . $tab['name']);

    $block-&gt;toHtml();
    if (count($block-&gt;getItemCollection())) {
        $product_tabs-&gt;addTab($tab['name'], $tab['title'], 'core/template', 'notused');
        $product_tabs-&gt;setChild($tab['name'], $block);
    }
}
</code></pre>

<h2>LOOP THROUGH PRODUCTS RELATIONS</h2>

<p>If you are on the product view page, you can access the related product collection by using a block:</p>

<pre><code>    //only change this variable
   $attribute_name = 'compatibilite_bouteilles';

   $block = $this-&gt;getLayout()-&gt;createBlock(
       'Intellimage_CustomRelations_Block_Catalog_Product_List',
       'mycustomrelation',
       array('template' =&gt; 'does-not-matter')
   );

   $block-&gt;setProductLinkTypeCode('custom_' . $attribute_name);
   $block-&gt;toHtml();//just force to process the collection
   $_products = $block-&gt;getItems();

    foreach ($products as $product) { echo $product-&gt;getSku(); }
</code></pre>

<p>If your products are not loading an attribute that you need you must load the whole product in the loop:</p>

<pre><code>    foreach ($products as $product) { $product-&gt;load($product-&gt;getId()); var_dump($product-&gt;getSku()); }
</code></pre>

<p>If you are not in the product view page you will need to register the product that you want to query before getting the collection:</p>

<pre><code>    Mage::register('product', $_product);
</code></pre>

<p>or just by setting the product id into the block;</p>

<pre><code>    $block-&gt;setProductId($_item-&gt;getId());
</code></pre>

<h1>IMPORT CONFIGURATION</h1>

<p>Enable daily import:
- go to the menu System > Configuration
- go to the tab Advanced > System
- go to the group Custom Relations Import
- change "Enable daily import" to yes
- change "Import filename" to the filename used for the csv</p>

<p>The cronjob will run daily, and you must place a file in var/importexport with the specified name of the field "Import filename". (by default "customrelations.csv")</p>

<p>In order to daily imports works properly, you must have your magento cronjob configured correctly.
To do that add to your crontab configuration:
*/5 * * * * /home/myuser/public_html/cron.sh</p>

<p>where /home/myuser/public_html is the path to your magento installation.
You must also ensure that cron.sh is allowed to be executed.</p>

<h2>CHANGE FREQUENCY OF CRONJOB</h2>

<p>The frequency of the cronjob by default is to run daily. you can change that by modifying the configuration:</p>

<ul>
<li>go to the menu System > Configuration</li>
<li>go to the tab Advanced > System</li>
<li>go to the group Custom Relations Import</li>
<li>change "Crontab expression" to an expression </li>
</ul>

<p>The values from <strong>Crontab expression</strong> must follow the crontab format, see more information here: http://en.wikipedia.org/wiki/Cron#Examples
examples:</p>

<ul>
<li>for daily run at 2:00 am use: 0 2 * * * </li>
<li>for weekly run every sunday at 8:05 use: 5 8 * * 6 </li>
</ul>

<p>After changing the config it will take some time until the cronjob is configured, since magento will schedule cronjobs by default every 15 minutes. 
This will depend on your system, you can check the schedule time of your system on:</p>

<ul>
<li>go to the menu System > Configuration</li>
<li>go to the tab Advanced > System</li>
<li>go to the group "Cron (Scheduled Tasks) - all the times are in minutes"</li>
</ul>

<h2>HOW TO CHECK THAT THE CRONJOB IS RUNNING</h2>

<p>Every time the cronjob runs it will place a new log on var/log/system.log. You must have logs enabled, you can enable here:</p>

<ul>
<li>go to the menu System > Configuration</li>
<li>go to the tab Advanced > Developer</li>
<li>go to the group "Log Settings"</li>
</ul>

<p>If logs are enabled when the cronjob runs wil log: "starting daily import" and "finish daily import" var/log/system.log. It will also logs errors in there.</p>

<p>Another way to check is executing an sql query:</p>

<pre><code>SQL:
    select * from cron_schedule where job_code = 'customrelations_import' and status = 'success';
</code></pre>

<h2>MORE ABOUT CRONJOBS</h2>

<p>If you want to have a visual information about scheduled jobs, existing jobs, executed jobs, I recommend to install the extension: </p>

<p>Aoe_Scheduler, you can download it here:
http://www.magentocommerce.com/magento-connect/aoe-scheduler.html</p>

<p>it's a free extension</p>

<h2>RUN IMPORT MANUALLY FROM CONSOLE / SSH</h2>

<ul>
<li>go to your magento root folder. Example: cd /home/myuser/public_html</li>
<li><p>run this:</p>

<pre><code>    php -f shell/customrelations.php -- --action import
</code></pre></li>
<li><p>to specify a filename in var/importexport use this:</p>

<pre><code>    php -f shell/customrelations.php -- --action import --filename myimportfile.csv
</code></pre></li>
<li><p>to set the "append" mode</p>

<pre><code>    php -f shell/customrelations.php -- --action import --mode append
</code></pre></li>
</ul>

<h2>SEPARATED CRONTAB TASK</h2>

<p>If you want to configure the cronjob as a separated task in your crontab, instead of running it from magento, follow this instructions.</p>

<p>If you want to run the import through your crontab you must add the following entry:</p>

<ul>
<li><p>to run daily at 2:00 AM</p>

<pre><code>    0 2 * * * php -f shell/customrelations.php -- --action import
</code></pre></li>
</ul>

<p>To edit your crontab you must either edit the crontab configuration from your cpanel, or execute "crontab -e" from the ssh console.</p>

<h1>AUTOMATIC DOWNLOAD IMPORT FILE</h1>

<p>You can configure the import to automatically download the import file from an ftp location.
To enable this feature you must go to:</p>

<ul>
<li>go to the menu System > Configuration</li>
<li>go to the tab Advanced > System</li>
<li>go to the group Custom Relations Import</li>
<li>change "Download from ftp" to yes</li>
<li>change fields "Ftp Domain", "Ftp Port", "Ftp User", "Ftp Password" to point to your ftp connection</li>
<li>change "Ftp Base Directory" to specify the directory from where to download the file</li>
<li>change "Ftp Remote Filename" to the filename of the remote location</li>
</ul>

<h2>RUN IMPORT and DOWNLOAD FROM FTP</h2>

<p>it's the same as in explained in the section <strong>RUN IMPORT MANUALLY FROM CONSOLE / SSH</strong>, except that you have to use the parameter
--source ftp.
Example:</p>

<p>-run this:
            php -f shell/customrelations.php -- --action import --source ftp</p>

<ul>
<li><p>to specify a filename in var/importexport use this:</p>

<pre><code>    php -f shell/customrelations.php -- --action import --filename myimportfile.csv  --source ftp
</code></pre></li>
<li><p>to set the "append" mode</p>

<pre><code>    php -f shell/customrelations.php -- --action import --mode append  --source ftp
</code></pre></li>
</ul>
