<?php
$randomId = substr(str_shuffle("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"), 0, 7);
$buttonColor = $this->getData('button_color') ? $this->getData('button_color') : '#d83c3c';
if(strpos($buttonColor,'#') === false) $buttonColor = "#".$buttonColor; 
$buttonTextColor = $this->getData('button_text_color');
if(!$buttonTextColor) $buttonTextColor = "#FFFFFF";
if(strpos($buttonTextColor,'#') === false) $buttonTextColor = "#".$buttonTextColor;
if(Mage::app()->getStore()->isCurrentlySecure()){
  $action = Mage::getUrl('popup/user/register', array('_forced_secure' => true));         
}else{
  $action = Mage::getUrl('popup/user/register');
}   
?> 
<script type="text/javascript">  
jQuery('head').append('<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/popup/widget/register/global.css?v=1.3.5') ?>" type="text/css" />');
jQuery('head').append('<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/popup/widget/register/3.css?v=1.3.5') ?>" type="text/css" />');
var successMsg = decodeURIComponent(('<?php echo urlencode(Mage::helper('cms')->getBlockTemplateProcessor()->filter(urldecode($this->getData('success_msg')))) ?>'+'').replace(/\+/g, '%20'));
var successAction = '<?php echo $this->getData('on_success');?>';
var successUrl = '<?php echo $this->getData('success_url');?>';
var workingText = '<?php echo $this->__('Working')?>...';
<?php
$delay = 0;
if($this->getData('on_success')==2){
  $delay = $this->getData('close_delay'); 
}elseif($this->getData('on_success')==3){
  $delay = $this->getData('redirect_delay');
}
?>
var actionDelay = '<?php echo $delay*1000; ?>'; 
</script>
<style>
#<?php echo $randomId?>.registerPopup form {              
    width: <?php echo $this->getData('width')?><?php echo $this->getData('width_unit')==2 ? "%" : "px";?>;
}

#<?php echo $randomId?>.registerPopup form input{
  width: <?php echo $this->getData('width')-20?>px;
  <?php if($this->getData('width_unit')==2):?>
  width:100%;   
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;  
  <?php endif;?>
}

#<?php echo $randomId?>.registerPopup button {
    background-color: <?php echo $buttonColor; ?>;      
    color:<?php echo $buttonTextColor?>;  
}  
</style>
<div class="registerPopup tp3" id="<?php echo $randomId?>"> 
      <div class="error" style="display:none;"></div>
      <form action="<?php echo $action ?>" method="post" id="signup-form" class="site-form" onsubmit="return false">        
        <input type="hidden" name="newsletter_option" value="<?php echo $this->getData('newsletter_option')?>" />
        <input type="hidden" name="coupon_option" value="<?php echo $this->getData('coupon_option')?>" />
        <input type="hidden" name="coupon_type" value="<?php echo $this->getData('coupon_type')?>" />
        <input type="hidden" name="rule_id" value="<?php echo $this->getData('rule_id')?>" />
        <input type="hidden" name="coupon_code" value="<?php echo $this->getData('coupon_code')?>" />
        <input type="hidden" name="send_coupon" value="<?php echo $this->getData('send_coupon')?>" />
        <input type="hidden" name="list_id" value="<?php echo $this->getData('mailchimp_list_id')?>" />
        <input type="hidden" name="apply_coupon" value="<?php echo $this->getData('apply_coupon')?>" />              
        <ul>
          <li class="fields">
              <div class="field first-field">
                  <label for="firstname" class="required"><?php echo $this->__('First Name') ?><em>*</em></label>
                  <div class="input-box">
                      <input type="text" name="firstname" id="firstname" class="input-text required-entry" />
                  </div>
              </div>
              <div class="field">
                  <label for="last_name" class="required"><?php echo $this->__('Last Name') ?><em>*</em></label>
                  <div class="input-box">
                      <input type="text" name="lastname" id="lastname" class="input-text required-entry" />
                  </div>
              </div>
              <div class="field">
                  <label for="email_address" class="required"><?php echo $this->__('Email') ?><em>*</em></label>
                  <div class="input-box">
                      <input type="text" name="email" id="email_address" class="input-text required-entry" />
                  </div>
              </div>
              <div class="field">
                  <label for="password" class="required"><?php echo $this->__('Password') ?><em>*</em></label>
                  <div class="input-box">
                      <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry" />
                  </div>
              </div>     
              <?php if($this->getData('newsletter_option')==2): ?>       
              <div id="subscribeNewsletter" class="field">
                  
                  <input type="checkbox" style="width: auto; float: left;" name="is_subscribed" id="is_subscribed" title="Subscribe newsletter" class="input-text"<?php if($this->getData('checkbox_checked')==1) echo ' checked="checked"'?>>
                  <label for="is_subscribed"><?php echo $this->getData('checkbox_text') ? $this->getData('checkbox_text') : $this->__('Subscribe newsletter') ?></label>
              </div> 
              <?php endif;?>            
          </li>
        </ul>

        <button class="async_false" type="submit" title="Submit" id="registerButton"><span><?php echo $this->getData('button_text') ? $this->getData('button_text') : $this->__('Create Account') ?></span></button>
      </form>
</div>
<!--DONT REMOVE! jQuery use it to check if css is loaded-->
<div class="cssLoadedChecker moctod-dribegam"></div>
<div class="cssLoadedChecker2 moctod-dribegam"></div>
<script src="<?php echo $this->getSkinUrl('js/popup/register.js') ?>"></script>