<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Dear {{var customer.name}}</h1>
            <p>Welcome to www.healthbuds.in - Your Knowledge Partner For Health.</p>
            <p class="highlighted-text">
                Use the following to log in:<br/>
                <strong>Email</strong>: {{var customer.email}}<br/>
                <strong>Password</strong>: Click <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>here</span></a> to set your password.
            </p>
            <p>Some Benefits of Healthbuds.in.</p>
            <ul>
                <li>1. Search And Compare For Hospitals, Nursing Homes, Doctors, Surgeries, Pathological Tests And Many More..</li>
                <li>2. Search For Availability Of Blood With Blood Banks In Your City</li>
                <li>3. Use Mobile App For Emergency Services Like Ambulance, Doctors On Call Etc</li>
                <li>4. Take Advantage Of A Powerful Healthbuds Loyalty Programme</li>
                <li>5. Contribute To A Greater Cause By Becoming A Member Of Blood Donor's Community</li>
            </ul>
            <p>
                For a detailed overview kindly visit our site, 
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
