<?php 
/**
 * MagPassion_Ajaxbookmarks extension
 * 
 * @category   	MagPassion
 * @package		MagPassion_Ajaxbookmarks
 * @copyright  	Copyright (c) 2014 by MagPassion (http://magpassion.com)
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * AjaxBookmark list template
 *
 * @category	MagPassion
 * @package		MagPassion_Ajaxbookmarks
 * @author MagPassion.com
 */
?>
<?php 
	$_url = Mage::getBaseUrl(); 
	$_url = str_replace("/index.php", "", $_url); 
	$currentUrl = Mage::helper('core/url')->getCurrentUrl();
	$mp_currenturl = base64_encode($currentUrl);
?>
<script type="text/javascript">
    function loadBookmarkProduct() {
        jQuery('#mp_bm_content').html('<img src="<?php echo $_url;?>magpassion/loading.gif" border="0"/>');
        jQuery.ajax({
            type: "POST",
            url: "<?php echo $_url.'mp_ajaxbm.php?curl='.$mp_currenturl; ?>",
        })
            .done(function( content ) {
                jQuery('#mp_bm_content').html( content );
          });
    }
    
    
    jQuery(document).ready(function(){
        //loadBookmarkProduct();
     });
</script>
<?php
    $blocktitle = Mage::helper('ajaxbookmarks/ajaxbookmark')->getblocktitle();
    $blockwidth = Mage::helper('ajaxbookmarks/ajaxbookmark')->getblockwidth();
    $blockheight = Mage::helper('ajaxbookmarks/ajaxbookmark')->getblockheight();
?>
<div class="magpassion_bookmark_page" style="display:none">
    
    <div class="magpassion_bookmark_page_content" style="width:<?php echo ($blockwidth);?>% !important; height:<?php echo $blockheight;?>% !important">
        <a class="magpassion_bookmark_page_close" onclick="closeBM()" title="Close"></a>
        <a class="magpassion_bookmark_page_clearall" onclick="clearAllBM()" title="Clear all"></a>
        <?php if ($blocktitle) : ?>
        <h4 class="blocktitle"><?=$blocktitle?></h4>
        <?php endif; ?>
        <ul class="magpassion-product-grid" id="mp_bm_content">
        </ul>
    </div>
    
</div>
