/**
 * MagPassion_Ajaxbookmarks extension
 * 
 * @category   	Css
 * @package		MagPassion_Ajaxbookmarks
 * @copyright  	Copyright (c) 2014 by MagPassion (http://magpassion.com)
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

.mp_sticky{
    cursor: pointer; float: left; height: 16px; width: 20px; display: block; zoom:150%; 
}
.mp_text{
    cursor: pointer; margin-left:-12px; padding-top:5px; display: block; 
}

.not_sticky {
    background-position: 3px 0px;
    z-index: 9999;
	background-image: url("../images/not_sticky.png"); background-repeat: no-repeat;
}

.active_sticky {
    background-position: 3px 0px;
    z-index: 99999;
	background-image: url("../images/active_sticky.png"); background-repeat: no-repeat;
}
.mp_sticky1{
    cursor: pointer; float: left; height: 16px; width: 20px; display: block; 
}
.mp_text1{
    cursor: pointer; margin-left:-12px; padding-top:5px; display: block; 
}

.not_sticky1 {
    background-position: 3px 0px;
    z-index: 9999;
	background-image: url("../images/not_sticky.png"); background-repeat: no-repeat;
}

.active_sticky1 {
    background-position: 3px 0px;
    z-index: 99999;
	background-image: url("../images/active_sticky.png"); background-repeat: no-repeat;
}
.ajaxbm-top-link { position: relative;  }
a.ajaxbookmark { }
a.ajaxbookmark span { cursor: pointer; }
a.ajaxbookmark span.title { }
a.ajaxbookmark span.titlewithstar { margin-right: 15px; }
a.ajaxbookmark span#ajaxbm-star { right: 0px; }
a.ajaxbookmark span.star { position: absolute; top: -2px; z-index: 5; display: inline; background-image: url(../images/star.png); background-repeat: no-repeat; height: 16px; width: 16px; }
a.ajaxbookmark span.star.white { background-position: 0 0;}
a.ajaxbookmark span.star.black { background-position: 0 -17px ;}
a.ajaxbookmark span.star.yellow { background-position: 0 -34px;}
a.ajaxbookmark span.star.cyan { background-position: 0 -51px;}
a.ajaxbookmark span.star.blue { background-position: 0 -68px;}
a.ajaxbookmark label {
    background: #ff0000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    height: 16px;
    right: 0px;
    line-height: 15px;
    padding: 0 5px;
    position: absolute;
    text-shadow: 0 1px 0 #005286;
    top: -6px;
    text-decoration:none;
    z-index: 8;
}

a.ajaxbookmark span.star label { margin-left: 15px;}

.magpassion_bookmark_page {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .5);
    z-index: 9999;
}
.magpassion_bookmark_page_content {
    width: 800px;
    height: 500px;
    margin: 50px auto 0;
    background: #fff;
    display: block;
    overflow: auto;
    z-index: 999;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 35px 20px 20px;
    position: relative;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(157, 157, 157, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(157, 157, 157, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(157, 157, 157, 0.75);
}
.magpassion_bookmark_page_content h4.blocktitle {
    position: absolute;
    top: 8px;
    left: 20px;
}
a.magpassion_bookmark_page_close {
    position: absolute;
    top: 4px;
    right: 15px;
    width: 24px;
    height: 24px;
    background: url(../images/close_gray.png) no-repeat;
    cursor: pointer;
}
a.magpassion_bookmark_page_clearall {
    position: absolute;
    top: 4px;
    right: 45px;
    width: 24px;
    height: 24px;
    background: url(../images/trash.png) no-repeat;
    cursor: pointer;
}
.magpassion-product-grid li.item {
    padding: 8px;
    margin: 8px;
    border: 1px solid #ddd;
    float: left;
}

.magpassion-product-grid li.item:hover { border-color: #aaa; background: #f2f2f2; transition: background-position 0.4s ease 0s;}


