<script type="text/javascript">  
jQuery('head').append('<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/popup/widget/buttons.css') ?>" type="text/css" />');
</script>     
<?php 
$color = $this->getData('button_color');
if(strpos($color,'#') === false) $color = "#".$color;
$color2 = $this->brightness($color,-44);
$buttonTextColor = $this->getData('buttontext_color');
if(strpos($buttonTextColor,'#') === false) $buttonTextColor = "#".$buttonTextColor;
$randomId = substr(str_shuffle("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"), 0, 7); 
?>
<style>
#<?php echo $randomId?>.popupButton{
  border-radius: 8px;
	background-color: <?php echo $color;?>;
	border-bottom: 5px solid <?php echo $color2;?>;
	text-shadow: 0px -2px <?php echo $color2;?>;
  color:<?php echo $buttonTextColor?>
}  
#<?php echo $randomId?>.popupButton:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
</style>
<a href="<?php echo $this->getData('button_href')?>" <?php if($this->getData('link_target')==2) echo 'target="_blank"'?> id="<?php echo $randomId?>" class="popupButton <?php echo $this->getData('button_size')?>"><?php echo $this->getData('button_text')?></a>   
