<script type="text/javascript">  
jQuery('head').append('<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/popup/widget/buttons.css') ?>" type="text/css" />');
</script>     
<?php 
$color = $this->getData('button_color');  
if(strpos($color,'#') === false) $color = "#".$color;
$buttonTextColor = $this->getData('buttontext_color');
if(strpos($buttonTextColor,'#') === false) $buttonTextColor = "#".$buttonTextColor;  
$color1 = $this->brightness($color,14);
$color2 = $this->brightness($color,-14); 
$randomId = substr(str_shuffle("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"), 0, 7);
?>

<style>
#<?php echo $randomId?>.popupButton{
    background: rgb(252,239,184);
    background: -moz-linear-gradient(top,  <?php echo $color1?> 0%, <?php echo $color1?> 50%, <?php echo $color2?> 50%, <?php echo $color2?> 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<?php echo $color1?>), color-stop(50%,<?php echo $color1?>), color-stop(50%,<?php echo $color2?>), color-stop(100%,<?php echo $color2?>));
    background: -webkit-linear-gradient(top,  <?php echo $color1?> 0%,<?php echo $color1?> 50%,<?php echo $color2?> 50%,<?php echo $color2?> 100%);
    background: -o-linear-gradient(top,  <?php echo $color1?> 0%,<?php echo $color1?> 50%,<?php echo $color2?> 50%,<?php echo $color2?> 100%);
    background: -ms-linear-gradient(top,  <?php echo $color1?> 0%,<?php echo $color1?> 50%,<?php echo $color2?> 50%,<?php echo $color2?> 100%);
    background: linear-gradient(top,  <?php echo $color1?> 0%,<?php echo $color1?> 50%,<?php echo $color2?> 50%,<?php echo $color2?> 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='<?php echo $color1?>', endColorstr='<?php echo $color2?>',GradientType=0 );
    color:<?php echo $buttonTextColor?>;
}  
</style>
<a href="<?php echo $this->getData('button_href')?>" <?php if($this->getData('link_target')==2) echo 'target="_blank"'?> id="<?php echo $randomId?>" class="popupButton <?php echo $this->getData('button_size')?>"><?php echo $this->getData('button_text')?></a>   
