<div class="lang-switcher dropdown lang-head switch-toggle-right">
<div class="switch-toggle switch-candy">
  <input class="blood-donor-from" id="month" name="view" type="radio" checked>
  <label for="month"><?php echo $this->__('Blood Donor');?></label>
  <input class="blood-request-from" id="week" name="week" type="radio">
  <label for="week"><?php echo $this->__('Blood Request');?></label>
  <a></a>
</div>
</div>
