<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();
	$theme = $this->helper('ultimo');
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');

	//CSS classes based on product type
	$productTypeId = $_product->getTypeId();
	$productTypeClasses = '';
	if ($productTypeId === 'grouped') {
		$productTypeClasses .= ' is-type-grouped';
	}

	//
	$shortDescription = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');

	//Rich snippets
	$useRichSnippets = ($helperSnippets->isEnabledOnProductPage() && $productTypeId !== 'grouped');
	$priceProperties = '';
	if ($useRichSnippets)
	{
		$priceProperties = $helperSnippets->getPriceProperties($_product); //Has to be called before getOfferItemscope
	}

	//Get grid classes for product page sections
	$grid = $helperThis->getGridClasses();

	//Product collaterals
	//--------------------------------------------------------------
	$section = array();
	$relatedProductsHtml = '';
	$upsellProductsHtml = '';
	
	//Related products.
	//If related products not assigned to collateral data container.
	if (!$theme->getCfg('product_page/collateral_related'))
	{
		$replaceRelated = $theme->getCfg('product_page/replace_related');
		if ($replaceRelated == 1) //don't replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper')))
				$relatedProductsHtml = $tmpHtml;
			//$relatedProductsHtml = trim($this->getChildHtml('related_products_wrapper'));
		}
		elseif ($replaceRelated == 2) //if related is empty, replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper')))
				$relatedProductsHtml = $tmpHtml;
			else //related empty
				if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
					$relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
		}
		elseif ($replaceRelated == 3) //replace with static block
		{
			if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
				$relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
		}
	}

	//Up-sell products.
	//If up-sell products not assigned to collateral data container.
	if (!$theme->getCfg('product_page/collateral_upsell'))
	{
		$replaceUpsell = $theme->getCfg('product_page/replace_upsell');
		if ($replaceUpsell == 1) //don't replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper')))
				$upsellProductsHtml = $tmpHtml;
			//$upsellProductsHtml = $this->getChildHtml('upsell_products_wrapper');
		}
		elseif ($replaceUpsell == 2) //if upsell is empty, replace with static block
		{
			if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper')))
				$upsellProductsHtml = $tmpHtml;
			else //upsell empty
				if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
					$upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
		}
		elseif ($replaceUpsell == 3) //replace with static block
		{
			if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
				$upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
		}
	}

	//Assign blocks to selected position
	$p = array();

	//Related products
	$position = $theme->getCfg('product_page/related_position');
	if (isset($p[$position]))
		$p[$position] = $p[$position] . $relatedProductsHtml;
	else
		$p[$position] = $relatedProductsHtml;

	//Up-sell products
	$position = $theme->getCfg('product_page/upsell_position');
	if (isset($p[$position]))
		$p[$position] = $p[$position] . $upsellProductsHtml;
	else
		$p[$position] = $upsellProductsHtml;

	//Product collateral data (displayed as tabs or stacked blocks)
	$position = $theme->getCfg('product_page/collateral_position');
	if (isset($p[$position]))
		$p[$position] = $p[$position] . $this->getChildHtml('productCollaterals');
	else
		$p[$position] = $this->getChildHtml('productCollaterals');
?>

<script type="text/javascript">
	var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view nested-container" <?php if ($useRichSnippets) echo $helperSnippets->getProductItemscope(); ?>>

	<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

		<?php echo $this->getBlockHtml('formkey'); ?>
		<div class="no-display">
			<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
			<input type="hidden" name="related_product" id="related-products-field" value="" />
		</div>

		<div class="product-img-column <?php echo $grid['imgCol']; ?>">

			<?php echo $this->getChildHtml('media') ?>
			<?php echo $this->helper('ultimo/labels')->getLabels($_product); //Product labels ?>
			<?php echo $this->getChildHtml('container_product_image_1'); ?>

		</div>
		
		<div class="product-primary-column product-shop <?php echo $grid['primCol']; ?>">

			<div class="product-name">
				<h2 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
			</div>
			<?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>
			<h4><?php echo $_helper->productAttribute($_product, $_product->getSurgeryProviderName(), 'surgery_provider_name') ?></h4>
			 <?php echo $_helper->productAttribute($_product, $_product->getQualification(), 'qualification') ?>
				
					
				<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
				<?php if($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
				<p></p>
					<?php  
						$speciality = $_product->getAttributeText('speciality'); 
						$countSpeciality = count($speciality);
						$str = null;
						if((int)$countSpeciality == 1){
							$str = $speciality;
						}else{
							foreach($speciality as $a){
								$str = $str.', '.$a;
							}
						}
					?>
					<?php if($_product->speciality==0): ?>
					<?php echo $this->__('') ?>
					<?php else: ?>
					<?php echo $this->__('Speciality:')?> <?php echo $str; ?>
					<?php endif; ?>
					<?php endif; ?>

					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
					<p> </p>
								
					<?php if($_product->experience==0): ?>
					<?php echo $this->__('') ?>
					<?php else: ?>
					<?php echo $this->__('Total Experience: ') ?><?php echo (int) $_helper->productAttribute($_product, $_product->getExperience(), 'experience') ?><?php echo $this->__(' years') ?>
					<?php endif; ?>
					<?php endif; ?>	

					<!-- Show surgery information from a particular category only -->
		
				
			<?php echo $this->getChildHtml('container_product_primary_1'); ?>

			<?php if (isset($p['primCol_1'])) echo $p['primCol_1']; ?>

			<?php if ($sku = $_product->getSku()): ?>
				<?php if ($theme->getCfg('product_page/sku')): ?>
					<div class="sku">
						<span class="label"><?php echo $this->__('SKU'); ?>: </span>
						<span class="value"><?php echo $sku; ?></span>
					</div>
				<?php endif; ?>
				<?php if ($useRichSnippets): ?><meta itemprop="productID" content="sku:<?php echo $sku; ?>" /><?php endif; ?>
			<?php endif; ?>
		
			<?php echo $this->getChildHtml('alert_urls'); //alerts ?>
			
			<?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
				<div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
			<?php endif; ?>
			<div <?php if ($useRichSnippets) echo $helperSnippets->getOfferItemscope(); ?>>
				<div class="product-type-data<?php echo $productTypeClasses; ?>">
				
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
					<?php if($_product->price==0): ?>
					<strong><?php echo $this->__('Consultation fee: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<br><br>
					<?php else: ?>
					<strong><?php echo $this->__('Consultation fee: ') ?></strong> <div class="doctor-fee"> <?php echo $this->getPriceHtml($_product, true) ?>
					</div>
					<?php endif; ?>
					<?php endif; ?>
				<?php //echo $this->getChildHtml('product_type_data'); ?>
				<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==17 || $category->getId()==18 || $category->getId()==19 || $category->getId()==20 || $category->getId()==21 || $category->getId()==22 || $category->getId()==23 || $category->getId()==24 || $category->getId()==25 || $category->getId()==26 || $category->getId()==27 || $category->getId()==28 || $category->getId()==29 || $category->getId()==34 || $category->getId()==35 || $category->getId()==36 || $category->getId()==37 || $category->getId()==38 || $category->getId()==39 || $category->getId()==40 || $category->getId()==41 || $category->getId()==42 || $category->getId()==43 || $category->getId()==50 || $category->getId()==51 || $category->getId()==52 || $category->getId()==11 ): ?>	
				<?php if($_product->price==0): ?> 
				<?php echo ''; ?> 
				<?php else: ?> 
				<h4><?php echo $this->__('Cost:') ?></h4><div class="doctor-fee"> <?php echo $this->getPriceHtml($_product, true) ?></div>
				<?php endif; ?>

				</div>
				<?php if($_product->price==0): ?> 
				<?php echo ''; ?> 
				<?php else: ?> 
				<?php echo $this->getTierPriceHtml(); ?>
				<?php endif; ?>
				<?php echo $priceProperties; ?>
			</div> <?php //end: offers ?>
			<?php endif; ?>
			
			<?php if ($addtoLinksHtml = $this->getChildHtml('addto')): //compare, wishlist, send to friend ?>
		<div class="action-box clearer">
			<?php echo $addtoLinksHtml; ?>
			<div id="<?=$_product->getId()?>" class="mp_sticky not_sticky" onclick="book_mark_item(this,'<?=$_product->getId()?>')"></div> <div id="<?=$_product->getId()?>" class="mp_text" onclick="book_mark_item(this,'<?=$_product->getId()?>')"><?php echo $this->__('Save for Future') ?> </div>
		</div>
		<?php endif; ?>
			<?php if (!$this->hasOptions()): //add to cart when no options (e.g. simple products) ?>
				<?php if($_product->isSaleable() && $category->getId()==1): ?>
					<div class="add-to-box">
						<?php echo $this->getChildHtml('addtocart') ?>
					</div>
				<?php endif; ?>
				<?php echo $this->getChildHtml('extra_buttons') ?>
			<?php endif; ?>

			<?php if ($_product->isSaleable() && $this->hasOptions()): ?>
				<?php if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
					<div class="container1-wrapper"><?php echo $container1_html; ?></div>
				<?php endif; ?>
				<?php endif;?>

<p></p>

					<div > 
					<div style="display: none"> <?php echo $this->getLayout()->createBlock('webforms/webforms', 'my_webform_block', array
					(
					'webform_id' => 15,
					'template' => 'webforms/default.phtml',
					))->toHtml();
					?></div> </div>

	
			<?php if (isset($p['primCol_2'])) echo $p['primCol_2']; ?>

			<?php echo $this->getChildHtml('other'); ?>

			<?php echo $this->getChildHtml('container_product_primary_2'); ?>

		</div> <!-- end: product-shop -->
		
		<?php if (isset($grid['secCol'])): //(!empty($secondaryColUnits)): ?>

			<div class="product-secondary-column <?php echo $grid['secCol']; ?> custom-sidebar-right">
				<div class="inner">

					<?php echo $this->getChildHtml('container_product_secondary_1'); ?>

					<?php if (isset($p['secCol_1'])) echo $p['secCol_1']; ?>
					<?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>
					<?php if ($addtoLinksHtml = $this->getChildHtml('addto')): //compare, wishlist, send to friend ?>
				<div class="action-box clearer">
					<?php echo $addtoLinksHtml; ?>
					<div id="<?=$_product->getId()?>" class="mp_sticky not_sticky" onclick="book_mark_item(this,'<?=$_product->getId()?>')"></div> <div id="<?=$_product->getId()?>" class="mp_text" onclick="book_mark_item(this,'<?=$_product->getId()?>')"><?php echo $this->__('Save for Future') ?> </div>
				</div>			
			<?php endif; ?>
					<?php if ($tmpHtml = $this->getChildHtml('product_secondary_top_placeholder')): //Brand logo ?>
						<div class="feature-wrapper bottom-border"><?php echo $tmpHtml; ?></div>
					<?php endif; ?>

					<?php if (isset($p['secCol_2'])) echo $p['secCol_2']; ?>
					<?php echo $this->getChildHtml('container_product_secondary_2'); ?>
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==4 || $category->getId()==7 || $category->getId()==6 || $category->getId()==8 || $category->getId()==9 || $category->getId()==10): ?>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_bed')->toHtml(); ?> 
					<?php elseif($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_appointment')->toHtml(); ?> 
					<?php else : ?>
					
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==17 || $category->getId()==18 || $category->getId()==19 || $category->getId()==20 || $category->getId()==21 || $category->getId()==22 || $category->getId()==23 || $category->getId()==24 || $category->getId()==25 || $category->getId()==26 || $category->getId()==27 || $category->getId()==28 || $category->getId()==29 || $category->getId()==34 || $category->getId()==35 || $category->getId()==36 || $category->getId()==37 || $category->getId()==38 || $category->getId()==39 || $category->getId()==40 || $category->getId()==41 || $category->getId()==42 || $category->getId()==43 || $category->getId()==50 || $category->getId()==51 || $category->getId()==52 || $category->getId()==11): ?>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_validation')->toHtml(); ?> 
					<?php echo $this->getChildHtml('container_product_secondary_2'); ?>
					
					<?php endif; ?>					

				<?php endif; ?>	
					<?php echo $this->getChildHtml('container_product_secondary_2'); ?>

					<?php if (isset($p['secCol_3'])) echo $p['secCol_3']; ?>

				</div>
			</div> <!-- end: product-secondary-column -->

		<?php endif; ?>

		<?php if ($_product->isSaleable() && $this->hasOptions()): ?>
			<?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
				<div class="box-additional <?php echo $grid['cont2Col']; ?>">
					<div class="container2-wrapper"><?php echo $container2_html; ?></div>
				</div>
			<?php endif; ?>
		<?php endif; ?>

	</form>
	<script type="text/javascript">
	//<![CDATA[
		var productAddToCartForm = new VarienForm('product_addtocart_form');
		productAddToCartForm.submit = function(button, url) {
			if (this.validator.validate()) {
				var form = this.form;
				var oldUrl = form.action;

				if (url) {
				   form.action = url;
				}
				var e = null;
				try {
					this.form.submit();
				} catch (e) {
				}
				this.form.action = oldUrl;
				if (e) {
					throw e;
				}

				if (button && button != 'undefined') {
					button.disabled = true;
				}
			}
		}.bind(productAddToCartForm);

		productAddToCartForm.submitLight = function(button, url){
			if(this.validator) {
				var nv = Validation.methods;
				delete Validation.methods['required-entry'];
				delete Validation.methods['validate-one-required'];
				delete Validation.methods['validate-one-required-by-name'];
				if (this.validator.validate()) {
					if (url) {
						this.form.action = url;
					}
					this.form.submit();
				}
				Object.extend(Validation.methods, nv);
			}
		}.bind(productAddToCartForm);
	//]]>
	</script>

	<?php //Lower primary column ?>
	<div class="box-additional <?php echo $grid['lowerPrimCol']; ?>">

		<?php if (isset($p['lowerPrimCol_1'])) echo $p['lowerPrimCol_1']; ?>
		
		<?php echo $this->getChildHtml('product_additional_data') ?>

		<?php echo $this->getChildHtml('reviews'); //Reviews ?>

	</div> <!-- end: box-tabs -->

	<?php //Lower secondary column ?>
	<?php if (isset($p['lowerSecCol_2'])): ?>
		<div class="box-additional box-sidebar custom-sidebar-right <?php echo $grid['lowerSecCol']; ?>">
			<div class="inner"><?php echo $p['lowerSecCol_2']; ?></div>
		</div>
	<?php endif; ?>

	<?php if (isset($p['lowerPrimCol_2'])): ?>
		<div class="box-additional <?php echo $grid['lowerPrimCol']; ?>"><?php echo $p['lowerPrimCol_2']; ?></div>
	<?php endif; ?>

</div> <!-- end: product-view -->
