<?php $_total=$this->getItems()->getSize() ?>
<?php if($_total): ?>
    <table class="data-table compare-table" id="product_comparison">
    <?php $_i=0 ?>
    <?php foreach($this->getItems() as $_item): ?>
        <?php if($_i++%10==0): ?>
            <col width="1" />
        <?php endif; ?>
            <col width="<?php echo floor(100/$_total); ?>%" />
    <?php endforeach; ?>
<?php if ($_total>2): ?>
        <thead>
            <tr>
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td class="a-right" id="fc_rm_<?php echo $_item->getId() ?>"><a href="#" class="btn-remove fc_rm" title="<?php echo $this->__('Remove This Item') ?>"><?php echo $this->__('Remove This Item') ?></a></td>
            <?php endforeach; ?>
            </tr>
        </thead>
<?php endif ?>
        <tbody>
            <tr class="product-shop-row">
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td>
                    <a class="product-image" href="#" onclick="setPLocation('<?php echo $this->getProductUrl($_item) ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>" /></a>
                    <h2 class="product-name"><a href="#" onclick="setPLocation('<?php echo $this->getProductUrl($_item) ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></h2>
                    <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?>
                    <?php if($_item->price==0): ?>
					<?php echo $this->__('') ?>
					<?php else: ?>
					<?php echo $this->getPriceHtml($_item, true, '-compare-list-top') ?>
					<?php endif; ?>			
					<!--
                    <?php if($_item->isSaleable()): ?>
                        <p id="<?php echo $_item->getId() ?>"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <ul class="add-to-links">
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist" onclick="setPLocation(this.href, true)"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        </ul>
                    <?php endif; ?>
					-->
                </td>
            <?php endforeach; ?>
            </tr>
        </tbody>
        <tbody>
        <?php $rowCount = 0; ?>
        <?php foreach ($this->getAttributes() as $_attribute): ?>
            <tr class="fc-attr-row <?php if ($rowCount >= 5) { echo 'hidden'; } ?>">
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                <th><span class="nobr"><?php echo $_attribute->getStoreLabel() ?></span></th>
                <?php endif; ?>
                <td>
                    <?php switch ($_attribute->getAttributeCode()) {
                        case "price": ?>
                            <?php echo $this->getPriceHtml($_item, true, '-compare-list-' . $_attribute->getCode()) ?>
                            <?php break;
                        case "small_image": ?>
                            <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" />
                            <?php break;
                        case "surgery_surgeon": ?>
                            <?php
                                $attributeName = 'surgery_surgeon';
                                $linkTypeCode = 'custom_'. $attributeName; //dont change
                                $itemCollection = Mage::helper('customRelations/product')->getRelatedProductCollection($_item, $linkTypeCode);
                                Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($itemCollection);
                                $amount = $itemCollection->count();
                            ?>
                            <?php echo $amount ?>
                            <?php if ($amount) echo ' <a href="javascript:;" class="srgn-list-toggle">(View All)</a>' ?>
                            <div class="surgeon-list closed">
                                <?php
                                    echo $this->getLayout()
                                        ->createBlock('catalog/product_list')
                                        ->setData('collection', $itemCollection)
                                        ->setData('id', $_item->getId())
                                        ->setData('attribute_code', 'surgery_surgeon')
                                        ->setTemplate('catalog/product/list/surgeon-slider.phtml')
                                        ->toHtml();
                                ?>
                            </div>
                            <?php break;
						case "hsp_doctors": ?>
        					<?php
        						$attributeName = 'hsp_doctors';
        						$linkTypeCode = 'custom_'. $attributeName; //dont change
        						$itemCollection = Mage::helper('customRelations/product')->getRelatedProductCollection($_item, $linkTypeCode);
        						Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($itemCollection);
        						$amount = $itemCollection->count();
        					?>
                            <?php echo $amount ?>
        					<?php if ($amount) echo ' <a href="javascript:;" class="srgn-list-toggle">(View All)</a>' ?>
                            <div class="surgeon-list closed">
                                <?php
                                    echo $this->getLayout()
                                        ->createBlock('catalog/product_list')
                                        ->setData('collection', $itemCollection)
                                        ->setData('id', $_item->getId())
                                        ->setData('attribute_code', 'hsp_doctors')
                                        ->setTemplate('catalog/product/list/surgeon-slider.phtml')
                                        ->toHtml();
                                ?>
                            </div>
							<?php break;
                        case 'surgery_hsp':
                            echo $this->getLayout()
                                ->createBlock('catalog/product_list')
                                ->setHspName($this->getProductAttributeValue($_item, $_attribute))
                                ->setTemplate('catalog/product/compare/surgery_hsp.phtml')
                                ->toHtml();
                            break;
                        case 'attached_hsp':
                                echo $this->getLayout()
                                    ->createBlock('catalog/product_list')
                                    ->setData('doctor', $_item)
                                    ->setTemplate('catalog/product/compare/doctor_hsp.phtml')
                                    ->toHtml();
                            break;
							
						case "experience": 
                            echo substr($this->getProductAttributeValue($_item, $_attribute),0,2);
                              break;
						case "no_of_surgeries_conducted": 
                            echo substr($this->getProductAttributeValue($_item, $_attribute),0,5);
                              break;							
                        case "date":
                            echo substr($this->getProductAttributeValue($_item, $_attribute),0,10);
                            break;
                        default: ?>
                            <div class="std">
                                <?php echo $this->helper('catalog/output')->productAttribute($_item, $this->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                            </div>
                            <?php break;
                    } ?>
                </td>
                <?php endforeach; ?>
            </tr>
        	<?php $rowCount++; ?>
        <?php endforeach; ?>

    	<?php if ($rowCount > 5): ?>
    		<tr>
    			<th>&nbsp;</th>
    			<td colspan="<?php echo $_i; ?>" class="a-center">
					<button type="button" title="Show more..." class="button fc_showmore_btn"><span><span>Show more...</span></span></button>
    			</td>
    		</tr>
    	<?php endif; ?>

        </tbody>

    </table>
    <script type="text/javascript">
		jQuery(document).ready(function(){
			var _w = jQuery("#fc_r").outerWidth();
			var m = "-" + parseFloat(_w/2) + 'px';
			var cssObj = {'marginLeft':m, 'marginRight':m, 'left': '50%'};
			jQuery("#fc_r").css(cssObj);
		});
        decorateTable('product_comparison');

        /**
         * Send remove item request, after that reload windows
         */
		 /*
        function removeItem(url)
        {
            new Ajax.Request(url, {
                parameters: {isAjax: 1, method: 'POST'},
                onLoading: function(){$('compare-list-please-wait').show();},
                onSuccess: function(transport) {
                    $('compare-list-please-wait').hide();
                    window.location.reload();
                    window.opener.location.reload();
                }
            });
        }
		*/
    </script>
<?php else: ?>
    <script type="text/javascript">window.close();</script>
<?php endif; ?>
