<?php
$color = "#51B500";
?>
<style>

#newsletterInput li{
  padding:30px;
  background-color:#f4f4f4;
  border:1px solid silver;
  margin-bottom:10px;
  cursor:pointer; 
}

#newsletterInput li:hover{
  box-shadow:1px 1px 2px 1px rgba(0,0,0,.1);
}

</style>
<p><?php echo Mage::helper('popup')->__("Click to the input to select style. You can change width and color later.")?></p>
<ul id="newsletterInput">
<?php for($n=1; $n<8; $n++):?>
  <li onclick='window.submitValue("<?php echo $n;?>"); Windows.close("widget-chooser", event)'><img src="<?php echo $this->getSkinUrl('popup/images/'.$n.'.png') ?>" /></li>
<?php endfor;?>
</ul>
<script>
window.submitValue = function (elId){
    jQuery("input[name='parameters[template]']").val("magebird/popup/newsletter/"+elId+".phtml");
    jQuery("input[name='parameters[template]']").parent().parent().prev().find('td[class="value"] label').text('Template '+elId)
};
</script>