<?php 
	$_helper = Mage::helper('catalog/category');
	$_categories = $_helper->getStoreCategories();
?>

<div class="home-main">
  <div class="container">
	<?php /* echo $this->getLayout()->createBlock('searchautocomplete/widget_form')->setTemplate('mst_searchautocomplete/widget/form.phtml')->toHtml(); */?>
    <div class="home-col-left">
		<div class="find-area">
			<div class="search-title"><img src="<?php echo $this->getSkinUrl('images/form-search.png');?>" alt=""/> Find, Compare and take Decision..</div>
			<div class="clear"></div>
			<?php echo $this->getLayout()->createBlock('searchautocomplete/widget_form')->setTemplate('mst_searchautocomplete/widget/form.phtml')->toHtml();?>		
		</div>
		<div class="clear"></div>
		<div class="heading"><span>Or</span></div>
		<h2><?php echo $this->__("Use our Guided Navigation Tool");?></h2>
		<div class="clear"></div>
		
		<form id="" name="" action="url" method="post">
			<div class="find-area">
				<div class="input-form2">
					
					<select id="category" name="category" placeholder="Phantasyland">
						<option></option>
						<?php
						if (count($_categories) > 0){
							foreach($_categories as $_category){
								echo '<option>'. $_category->getName(). '</option>';
							}
						}?>
					</select>
				</div>
			<div class="input-form2">
				<select id="sub_category" name="sub_category" placeholder="sub category" style="width: 186px; display:none;"></select>
			</div>
			<button style="display:none;" type="submit" id="navigation_btn" class="blue-search2"><?php echo $this->__('Go');?></button>
			<div class="clear"></div>
			</div>
		</form>
 </div>
    <div class="middle-border"></div>


	<div class="home-col-right">
		<div class="right-title"><?php echo $this->__('Make use of our Express services');?></div>
		 <div class="clear"></div>
		 
		 <div class="home-service feature-icon-hover">
			<div class="icon-left">
				<span class="ic ic-4x  ic-24hours ib ib-size-xxl" title="Request" ></span>
			</div>
				<div class="icon-desc">
					<h3><?php echo $this->__('Request Services - Request for Medical Information..');?></h3>
					<?php /* <p>Save time ! <a href="#"><?php echo $this->__('Tailor Made Service');?></a></p>*/?>
				</div>
		 </div>
		 
		 <div class="home-service feature-icon-hover">
			<div class="icon-left">
				<span class="ic ic-4x  ic-callcenter ib ib-size-xxl"></span>
			</div>
				<div class="icon-desc">
					<h3><?php echo $this->__('Connect Service - Connect with your Doctor over Video and many more..');?></h3>
					<?php /* <div class="small-font"><?php echo $this->__('Video call/Conferenc call with a ');?><a href="#"><?php echo $this->__('GP/Specialist/Surgeon');?></a></div>*/?>
				</div>
		 </div>
		 
		 <div class="home-service feature-icon-hover">
			<div class="icon-left">
				<div class="icon-bg"><a href="<?php echo Mage::getBaseUrl(). 'life-notes/';?>" target="_self" class="ic ic-4x ic-list ib ib-size-xxl"></a></div>
			</div>
				<div class="icon-desc">
					<h3><?php echo $this->__('Life Notes -');?><?php echo $this->__('Share, Speak, Subscribe to Your healthbuds Blog page ..');?></h3>
				</div>
				
		 </div>

		<?php /*<div class="home-service feature-icon-hover">
			<div class="icon-left">
				<span class="ic ic-4x ic-smartphones ib ib-size-xxl"></span>
			</div>
			<div class="icon-desc">
				<h3><?php echo $this->__('Available anytime, anywhere');?></h3>
				<h3><?php echo $this->__('Download India\'s first Emergency App ');?></h3>
			</div>
		</div> */?>
		</div>
		<div class="clear"></div>

</div>
<div class="clear"></div>

<script>
	jQuery(function($) {
	var categories = {
	<?php 
	if (count($_categories) > 0){
		foreach($_categories as $_category){
			echo "'". $_category->getName() ."'", ':'; 
			
			$_category = Mage::getModel('catalog/category')->load($_category->getId());
			$_subcategories = $_category->getChildrenCategories();
			echo '[';
			if (count($_subcategories) > 0){							 
				foreach($_subcategories as $_subcategory){
					 echo "'".$_subcategory->getName()."',"; 
									 
				}
			}
			echo '],';
		} 
		}
	?>
}
    var $sub_category = $('#sub_category');
    $('#category').change(function () {

        var category = $(this).val(), lcns = categories[category] || [];
		
        if(lcns.length > 0) {
			$('#sub_category').css("display","block");
			$('#navigation_btn').css("display","block");
			var html = $.map(lcns, function(lcn){
				return '<option value="' + lcn + '">' + lcn + '</option>'
			}).join('');
			$sub_category.html(html)
		} else {
			$('#sub_category').css("display","none");
			$('#navigation_btn').css("display","block");
		}
		
		if(category == "none")  {
			$('#sub_category').css("display","none");
			$('#navigation_btn').css("display","none");
		}
    });
    
    $("#navigation_btn").click(function(){  
    	var selected_category  = $("#category").find("option:selected").text();
		var selected_sub_category  = $("#sub_category").find("option:selected").text();
		
		if(selected_category.length > 0) {
						
			if(selected_sub_category.length>0) {
				category_url = selected_sub_category; 
			} else { 
				category_url = selected_category;
			}			
		
			var formData = {
				'redirect_url'   : category_url,
			};
			
			var url = '<?php echo Mage::getBaseUrl().'infortis/index/index/';?>';
			// process the form
			$.ajax({
				type        : 'POST', 
				url         : url, 
				data        : formData,
				success: function(data) {
					console.log(data);
					window.location.href= data;
				}
			});
		}
		return false;
		event.preventDefault();
	});
});
</script>
