<?php
	$speciality_array = array();
	$_attribute_code = 'speciality';
	$attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product',$_attribute_code);
	$attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
	$attributeOptions = $attribute ->getSource()->getAllOptions();
	
	foreach($attributeOptions as $attributee)
	{
		if(!empty($attributee['value'])){
			$speciality_array[$attributee['value']] = $attributee['label'];
		}
	}
	
?>

<?php 
	$myst = array();
	$sp = '';//array();
	$speciality =  array();
	foreach($this->getItems() as $_item)
	{
		$sp = $sp.','.Mage::getResourceModel('catalog/product')->getAttributeRawValue($_item->getId(),'speciality');
	} 
	// echo $sp;
	$HiddenProducts = explode(',',$sp);
	$count = array_count_values($HiddenProducts);
	
?>

<?php 
	//$currentCategory = Mage::registry('current_category')->getId();
	//$docArray = array('97','98','99','100','101');
	$product_id = Mage::registry('current_product')->getId();
	$_product = Mage::getModel('catalog/product')->load($product_id);
?>
<?php
	//if (!in_array($currentCategory, $docArray)) {
	$attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName();
	$attributeSetName = strtolower($attributeSetName);
	if($attributeSetName != 'doctor'){
?>
<?php if($this->getItems()->getSize() > 0){ ?>

<ul class="filter-check" >
	<?php foreach($speciality_array as $key=>$value){ ?>
		<li>
			<?php
				$HiddenProducts = explode(',',$sp);
					if (in_array((int)$key, $HiddenProducts)) 
						{
					?>
						 <input type="checkbox" onclick="myFunction()" name="speciality_check" id="speciality_check" class="speciality_check" value="<?php echo $key ?>" /> <?php echo $value ?>
						 <?php 
							if (array_key_exists($key, $count)) {
								echo "(".$count[$key].")";
							}
						 ?>
					<?php }
			?>
			
			
		</li>
	<?php } ?>
</ul>
<?php } ?>
	<?php } ?>
	<?php /*
<div id="filtered-doctors" style="<?php if($attributeSetName != 'doctor'){?><?php } ?>"> </div>*/?>
<div id="org-doctors" style="<?php if($attributeSetName != 'doctor')?>">
	<?php if($this->getItems()->getSize()){ ?>
		<div class="block block-custom">
			<div class="block-content">
				<?php $item_id = null; ?>
				<ol class="mini-products-list" id="block-custom-doctor">
					<?php foreach($this->getItems() as $_item){ ?>
						<?php // echo '<pre>';print_r($_item->getData());echo '</pre>';?>
						<?php $item_id = $item_id.','.$_item->getId(); ?>
						<li class="item" id="doctor-<?php echo $_item->getId(); ?>">
							<?php if(!$_item->isComposite() && $_item->isSaleable()): ?>

							<?php endif; ?>
							<div class="product">
								<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(50) ?>" width="50" height="50" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
								<div class="product-details">
									<p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></p>
								</div>
								<div class="doctor-custom">
									<p>
										<?php echo $qualification = $_item->getResource()->getAttribute('qualification')->getFrontend()->getValue($_item); ?>
									</p>
									<p>
									<?php if($_item->price==0): ?>
										<?php echo $this->__('') ?>
									<?php else: ?>
										<?php echo $this->__('Consultation Fee: ') ?><div class="doctor-fee-custom"> <?php echo $this->getPriceHtml($_item, true, '-custom') ?></div>
									<?php endif; ?>
									</p>
								<p>	
								<?php if($_item->experience==0): ?>
								<?php echo $this->__('') ?>
								<?php else: ?>
								<?php echo $this->__('Total Experience: ') ?><?php echo (int)$experience = $_item->getResource()->getAttribute('experience')->getFrontend()->getValue($_item); ?><?php echo $this->__(' years') ?>
								<?php endif; ?>
								</p>
								<p>
								<?php if($_item->speciality==0): ?>
								<?php echo $this->__('') ?>
								<?php else: ?>
								<label><?php echo $this->__('Speciality: ')?></label>
								<?php echo $speciality = $_item->getResource()->getAttribute('speciality')->getFrontend()->getValue($_item); ?>
								<?php endif; ?>
								</p>
								<p>
									<?php if (strlen($_item->visit_time1)<=10): ?>
										<?php echo $this->__('') ?>
										<?php else: ?>	
										<span style="text-decoration: underline;"><strong><?php echo $this->__('Consultation Timing:') ?></strong></span>
										<?php 
											$visit_time1 = $_item->getResource()->getAttribute('visit_time1')->getFrontend()->getValue($_item); 

											if(isset($visit_time1)){
												echo '<br>'.$visit_time1;
											} 
										?>

										<?php 
											$visit_time2 = $_item->getResource()->getAttribute('visit_time2')->getFrontend()->getValue($_item); 

											if(isset($visit_time2)){
												echo '<br>'.$visit_time2;
											} 
										?>

										<?php 
											$visit_time3 = $_item->getResource()->getAttribute('visit_time3')->getFrontend()->getValue($_item); 

											if(isset($visit_time3)){
												echo '<br>'.$visit_time3;
											} 
										?>
									<?php endif; ?>
								</p>
								<?php
								    /*$_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_item);
								?>
								<?php if($_compareUrl) : ?>
									<a class="link-compare feature feature-icon-hover first" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>">
										<span class=" ic ic-compare ib icon-color-productview"></span>
										<?php echo $this->__('Add to Compare') ?>
									</a>
								<?php endif;*/ ?>
								</div>
							</div>
						</li>
					<?php } ?>
				</ol>
			</div>
		</div>
	<?php } ?>
</div>
<input type="hidden" name="total_id" id="total_id" value="<?php echo $item_id ?>" />
<?php $filter_url = Mage::getUrl('doctorsearch/index/post');?>
<script type="text/javascript">

	function myFunction()
	{
		var checkedVals = jQuery('.speciality_check:checkbox:checked').map(function() {
			return this.value;
		}).get();
		var values = checkedVals.join(",");
		var total_id = jQuery('#total_id').val();
		
		if(values == ''){

		}

		jQuery.ajax({
			url: '<?php echo $filter_url; ?>',
			data: { id: values, total_id: total_id },
			success: function(result){
				jQuery("#org-doctors").html(result);
				jQuery('#block-custom-doctor').owlCarousel({
							navigation: true,
							items : 2, 
						    itemsDesktop : [1000,2],
						    itemsDesktopSmall : [900,2],
						    itemsTablet: [600,2],
						    itemsMobile : [479,1]
						});
			}
		});

		/*if(values){
			jQuery.ajax({
				url: '<?php echo $filter_url; ?>',
				data: { id: values, total_id: total_id },
				success: function(result){
					// alert(result);
					//jQuery("#org-doctors").hide();
					//jQuery("#filtered-doctors").show();
					jQuery("#org-doctors").html(result);
				}
			});
		}else{
			// alert(1);
			jQuery( "#filtered-doctors").hide();
			jQuery('#org-doctors').css({'display': 'block'});
		}*/
		
		return;
	}

	jQuery(function($) {
		$('#block-custom-doctor').owlCarousel({
							navigation: true,
							items : 2, 
						    itemsDesktop : [1000,2],
						    itemsDesktopSmall : [900,2],
						    itemsTablet: [600,2],
						    itemsMobile : [479,1]
						});
	});
</script>
<style>
	.filter-check > li {
		width: 40%;
	}
</style>