<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('ultimo');
    $helpLabels = $this->helper('ultimo/labels');
    $helpTemplate = $this->helper('ultimo/template');
    $helpImg = $this->helper('infortis/image');
	$_product = $this->getProduct();
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');
	?>

<?php if($_collectionSize = $this->getItems()->getSize()): ?>
<?php
    $_productCollection = $this->getItems();
    $theme = $this->helper('ultimo');
    $helpImg = $this->helper('infortis/image');
    $productCountInSlide = intval($theme->getCfg('product_page/related_count')); //Number of products displayed in a single slide
    $i = 0;
    $sliderClasses = '';
    $gridClasses = '';

    //Additional parameters
    $isResponsive = true;
    if ($_collectionSize <= $productCountInSlide)
    {
        //If total number of products is smaller than number of products displayed in a single slide
        $isResponsive = false;
    }

    //Slider parameters
    //--------------------------------------------------------------

    $sliderId = "itemslider-related-multi";

    //Responsive mode on/off
    $isResponsive = true;

    //Assign number of items in a row to specific viewport width
    $breakpoints = '[0, 1], [480, 2], [768, 1]';

    //Pagination on/off
    $pagination = false;

    //Default image size
    $imgWidth = 100;
    $imgHeight = 100;
    
        //Image aspect ratio
        if ($theme->getCfg('category/aspect_ratio'))
        {
            $imgHeight = 0; //Height will be computed automatically (based on width) to keep the aspect ratio
        }

    //Slider timeout. Set to enable automatic scrolling.
    $timeout = intval($theme->getCfg('product_page/related_timeout'));

    //Number of items that should move on scrolling
    $move = 0;

    //If set, slider will loop
    $loop = $theme->getCfg('product_slider/loop');

    //Speed (arrows / touch swipe)
    $speed = intval($theme->getCfg('product_slider/speed'));

    //Speed (automatic scrolling / pagination)
    $autoSpeed = intval($theme->getCfg('product_slider/auto_speed'));

    //Pause slider on mouse hover
    $pause = $theme->getCfg('product_slider/pause');




?>
<div class="block block-related block-related-thumbnails">
    <!--<h3 class="section-title padding-right"><?php echo $this->__('Related Products'); ?></h3> -->
    <div class="itemslider-wrapper itemslider-related-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
        <div id="<?php echo $sliderId; ?>" class="itemslider <?php if($sliderClasses) echo $sliderClasses; ?>">
        <?php foreach ($_productCollection as $_item): ?>
            <?php if ($i++ % $productCountInSlide == 0): //Open: new slide and list of products ?>
                <div class="item">
                    <ul class="clearer">
            <?php endif; ?>

            <li class="product">
               <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(75) ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
			   
                <div class="product-details">
                    <h2 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $this->escapeHtml($_item->getName()); ?></a></h2>
					<div> <script language="javascript">
					function toggle5() {
					var ele = document.getElementById("toggleText5");
					var text = document.getElementById("displayText5");
					if(ele.style.display == "block") {
					ele.style.display = "none";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Read More..</strong></span>';
					}
					else {
					ele.style.display = "block";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Show Less..</strong></span>';
					}
					}
					</script>
					<?php if (strlen($_item->description)>=5): ?><?php echo $this->__('') ?>
			        <?php else: ?>	
					<?php echo $description = $_item->getResource()->getAttribute('description')->getFrontend()->getValue($_item); ?><a id="displayText5" href="javascript:toggle5();"><span style="color: #ff6600;"><strong>Read More..</strong></span></a> 
					<div id="toggleText5" style="display: none"> <?php echo $short_description = $_item->getResource()->getAttribute('short_description')->getFrontend()->getValue($_item); ?></div>
					<?php endif; ?>
					</div>
					
                   <div class="tab-review" > <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?> </div>
				    <?php if ($theme->getCfg('magento_blocks/related_products_checkbox')): ?>
                        <?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
                            <?php if (!$_item->getRequiredOptions()): ?>
                            <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endif; ?>
                    
                    <?php //echo $this->getPriceHtml($_item, true, '-related') ?>
                    
                    <?php if ($this->helper('wishlist')->isAllow()): ?>
                        <a class="related-add-to-wishlist" href="<?php echo $this->getAddToWishlistUrl($_item); ?>" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist'); ?></a>
                    <?php endif; ?>
				<div class="product-extra">
				
				<p> 
						<?php  
						$accreditations = $_item->getAttributeText('accreditations'); 
						$countAccreditations = count($accreditations);
						$str = null;
						if((int)$countAccreditations == 1){
							$str = $accreditations;
						}else{
							foreach($accreditations as $a){
								$str = $str.', '.$a;
							}
						}
					?>
					<br>
					<span><img src="/media/wysiwyg/infortis/ultimo/icons/caduceus8.png" alt="Accreditation" /></span>
					<?php echo $this->__('Accreditation:')?>
					<?php if($_item->accreditations==0): ?>
					<?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>
					<?php echo $str; ?>
					<br>
					<?php endif; ?>
					<?php if (strlen($_item->opd_time1)<=10): ?>
					<br><br>
					<div class="day ic ic-1-5x ic-stopwatch"></div><strong>OPD Timing:</strong><?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>	
					<?php // /* to get Label"*/ echo ''.$_product->getResource()->getAttribute('opd_time1')->getFrontend()->getLabel($_product).'';?>
					<div class="day ic ic-1-5x ic-stopwatch"></div>&nbsp;OPD Timing:
					<div class="opdtiming">
					<table>
					<tbody>

					<tr>
					<td></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime1(), 'opd_time1') ?></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime2(), 'opd_time2') ?></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime3(), 'opd_time3') ?></td>
					</tr>
					</tbody>
					</table>
					</div>
					<?php endif; ?>

					<br><br>
					<div  class="city-address ic ic-2x ic-pin"> </div>
					
					<?php if (strlen($_product->address1)<=5): ?>
					<?php echo $this->__('Address Not Available') ?>
					<?php else: ?>	
					<?php echo $_helper->productAttribute($_item, $_product->getAddress1(), 'address1') ?>,
					<?php echo $_helper->productAttribute($_item, $_item->getAddress2(), 'address2') ?>,
					<?php echo $_item->getAttributeText('area_kolkata'); ?>
					<br><?php endif; ?>
					<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_item->getAttributeText('city'); ?>&nbsp;-<?php echo (int) $_helper->productAttribute($_item, $_item->getPincode(), 'pincode') ?>,&nbsp;<?php echo $_item->getAttributeText('state'); ?> </h5>
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if (strlen($_item->Phone)<=5): ?><?php echo $this->__('') ?>
					<?php else: ?>	
					<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $_helper->productAttribute($_item, $_item->getPhone(), 'phone') ?>
					<br>
					<?php endif; ?>
					<?php if (strlen($_item->Email)<=3): ?><?php echo $this->__('') ?><?php else: ?>
					<span class="ic ic-letter ic-lg"></span>&nbsp;<?php echo $_helper->productAttribute($_item, $_item->getEmail(), 'email') ?>
					<br>
					<?php endif; ?>
					<?php if (strlen($_item->Website)<=3): ?><?php echo $this->__('') ?><?php else: ?>
					<span class="ic ic-dribbble ic-lg"></span>&nbsp;<?php echo $_helper->productAttribute($_item, $_item->getWebsite(), 'website') ?>
					<?php endif; ?>
					<?php if($category->getId()==4 || $category->getId()==6 || $category->getId()==7 || $category->getId()==8 || $category->getId()==9 || $category->getId()==10): ?>
					<?php if (strlen($_item->opd_time1)<=10): ?>
					<div class="day ic ic-1-5x ic-stopwatch"></div><strong>OPD Timing:</strong><?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>	
					
<h4><br><div class="day ic ic-1-5x ic-stopwatch"></div>OPD Timing</h4>

<?php // /* to get Label"*/ echo ''.$_item->getResource()->getAttribute('opd_time1')->getFrontend()->getLabel($_item).'';?>
<div class="opdtiming">
<table>
<tbody>

<tr>
<td></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime1(), 'opd_time1') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime2(), 'opd_time2') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getOpdTime3(), 'opd_time3') ?></td>
</tr>
</tbody>
</table>
</div>
<?php endif; ?>
<span><br><br><div class="day ic ic-1-5x ic-stopwatch"></div><strong>Visiting Hours:</strong></span>
<?php if (strlen($_item->visit_time1)<=10): ?>
<?php echo $this->__(' Data Not Available') ?>
<?php else: ?>	
<div class="opdtiming">
<table>
<tbody>

<tr>
<td></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getVisitTime1(), 'visit_time1') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getVisitTime2(), 'visit_time2') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_item, $_item->getVisitTime3(), 'visit_time3') ?></td>
</tr>
</tbody>
</table>
</div>			
<?php endif; ?>
<?php endif; ?>

				<?php //echo $short_description = $_item->getResource()->getAttribute('short_description')->getFrontend()->getValue($_item); ?>
				
				</div>
				
				
                </div> <!-- end: product-details -->
				

				
            </li>

            <?php if ($i % $productCountInSlide == 0 || $i == $_collectionSize): //Close: list of products and slide ?>
                    </ul> <!-- end: list of products -->
                </div> <!-- end: slider item -->
            <?php endif ?>
        <?php endforeach; ?>

        </div> <!-- end: itemslider -->
    </div> <!-- end: itemslider-wrapper -->
    <script type="text/javascript">
    //<![CDATA[
        jQuery(function($) {

            var owl = $('#<?php echo $sliderId; ?>');
            owl.owlCarousel({

            <?php if(!$isResponsive): ?>
                responsive: false,
                items: <?php echo $showItems; ?>,
            <?php else: ?>
                itemsCustom: [ <?php echo $breakpoints; ?> ],
                responsiveRefreshRate: 50,
            <?php endif; ?>

            <?php if ($speed): ?>
                slideSpeed: <?php echo $speed; ?>,
            <?php endif; ?>

            <?php if ($autoSpeed): ?>
                paginationSpeed: <?php echo $autoSpeed; ?>,
            <?php endif; ?>

            <?php if ($move !== 1): ?>
                scrollPerPage: true,
            <?php endif; ?>

            <?php if ($timeout): ?>
                autoPlay: <?php echo $timeout; ?>,
            <?php endif; ?>

            <?php if ($pause): ?>
                stopOnHover: true,
            <?php endif; ?>

            <?php if ($loop): ?>
                rewindNav: true,
                rewindSpeed: 600,
            <?php else: ?>
                rewindNav: false,
            <?php endif; ?>

            <?php if ($pagination): ?>
                pagination: true,
            <?php else: ?>
                pagination: false,
            <?php endif; ?>

                navigation: true,
                navigationText: false

            }); //end: owl

        });
    //]]>
    </script>

    <?php if ($theme->getCfg('magento_blocks/related_products_checkbox')): ?>
        <p class="block-subtitle"><?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a></p>
        <script type="text/javascript">
        //<![CDATA[
            $$('.related-checkbox').each(function(elem){
                Event.observe(elem, 'click', addRelatedToProduct)
            });
        
            var relatedProductsCheckFlag = false;
            function selectAllRelated(txt){
                if (relatedProductsCheckFlag == false) {
                    $$('.related-checkbox').each(function(elem){
                        elem.checked = true;
                    });
                    relatedProductsCheckFlag = true;
                    txt.innerHTML="<?php echo $this->__('unselect all') ?>";
                } else {
                    $$('.related-checkbox').each(function(elem){
                        elem.checked = false;
                    });
                    relatedProductsCheckFlag = false;
                    txt.innerHTML="<?php echo $this->__('select all') ?>";
                }
                addRelatedToProduct();
            }
        
            function addRelatedToProduct(){
                var checkboxes = $$('.related-checkbox');
                var values = [];
                for(var i=0;i<checkboxes.length;i++){
                    if(checkboxes[i].checked) values.push(checkboxes[i].value);
                }
                if($('related-products-field')){
                    $('related-products-field').value = values.join(',');
                }
            }
        //]]>
        </script>
    <?php endif; ?>
    
</div> <!-- end: block -->
<?php endif; ?>