<?php
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('ultimo');
    $helpLabels = $this->helper('ultimo/labels');
    $helpTemplate = $this->helper('ultimo/template');
    $helpImg = $this->helper('infortis/image');
	$_product = $this->getProduct();
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');
	?>
<?php //if($_collectionSize = $this->getItems()->getSize()): ?>
			<div class="product-name">
			
			</div>
			<!-- Attributes from HSP Start -->
				<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>	
				<?php if($category->getId()==4 || $category->getId()==6 || $category->getId()==7 || $category->getId()==8 || $category->getId()==9 || $category->getId()==10) : ?>
					<p> </p>
					<?php  
						$accreditations = $_product->getAttributeText('accreditations'); 
						$countAccreditations = count($accreditations);
						$str = null;
						if((int)$countAccreditations == 1){
							$str = $accreditations;
						}else{
							foreach($accreditations as $a){
								$str = $str.', '.$a;
							}
						}
					?>
					<br>
					<span><img src="/media/wysiwyg/infortis/ultimo/icons/caduceus8.png" alt="Accreditation" /></span>
					<?php echo $this->__('Accreditation:')?>
					<?php if($_product->accreditations==0): ?>
					<?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>
					<?php echo $str; ?>
					<br><br>
					<?php endif; ?>
					<?php if (strlen($_product->opd_time1)<=10): ?>
					<div class="day ic ic-1-5x ic-stopwatch"></div><strong>OPD Timing:</strong><?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>	
					
				<?php // /* to get Label"*/ echo ''.$_product->getResource()->getAttribute('opd_time1')->getFrontend()->getLabel($_product).'';?>
				<div class="day ic ic-1-5x ic-stopwatch"></div>&nbsp;OPD Timing:
				<div class="opdtiming">
				<table>
				<tbody>
					<tr>
					<td></td>
					</tr>
					<tr>
						<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime1(), 'opd_time1') ?></td>
					</tr>
					<tr>
						<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime2(), 'opd_time2') ?></td>
					</tr>
					<tr>
						<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime3(), 'opd_time3') ?></td>
					</tr>
				</tbody>
				</table>
				</div>
				<?php endif; ?>
				<span><br><br><div class="day ic ic-1-5x ic-stopwatch"></div><strong>Visiting Hours:</strong></span>
				<?php if (strlen($_product->visit_time1)<=10): ?>
				<?php echo $this->__(' Data Not Available') ?>
				<?php else: ?>	

				<div class="opdtiming">
				<table>
				<tbody>

				<tr>
				<td></td>
				</tr>
				<tr>
				<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime1(), 'visit_time1') ?></td>
				</tr>
				<tr>
				<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime2(), 'visit_time2') ?></td>
				</tr>
				<tr>
				<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime3(), 'visit_time3') ?></td>
				</tr>
				</tbody>
				</table>
				</div>			
				<?php endif; ?>
					<br><br>
					<div  class="city-address ic ic-2x ic-pin"> </div>
					<?php if (strlen($_product->address1)<=5): ?>
					<?php echo $this->__('Address Not Available') ?>
					<?php else: ?>	
					<?php echo $_helper->productAttribute($_product, $_product->getAddress1(), 'address1') ?>,
					<?php echo $_helper->productAttribute($_product, $_product->getAddress2(), 'address2') ?>,
					<?php echo $_product->getAttributeText('area_kolkata'); ?>
					<br><?php endif; ?>
			<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_product->getAttributeText('city'); ?>&nbsp;-<?php echo (int) $_helper->productAttribute($_product, $_product->getPincode(), 'pincode') ?>,&nbsp;<?php echo $_product->getAttributeText('state'); ?> </h5>
			<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
			<?php if (strlen($_product->Phone)<=5): ?>
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $this->__('Phone No. not available') ?>
			<?php else: ?>	
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $_helper->productAttribute($_product, $_product->getPhone(), 'phone') ?>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Email)<=3): ?>
			<br>
			<span class="ic ic-letter ic-lg"></span>&nbsp;<?php echo $this->__('E-mail not available') ?>
			<br>
			<?php else: ?>
			<span class="ic ic-letter ic-lg"></span>&nbsp; <a href="mailto:<?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?>"><?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?></a>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Website)<=3): ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<?php echo $this->__('Website not available') ?>
			<?php else: ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<a href="http://<?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?>" target="_blank"><?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?></a>
			<?php endif; ?>
<?php endif; ?>
					<!-- attributes from HSP End -->
					<!-- attributes from Doctor start -->
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
					<p> </p>
					
					<?php if(strlen($_product->chamber_name1)==0): ?>
					
					<?php else: ?>
					<h3 style="color:#00A9C7;"><?php echo $this->__('Chamber 1 ') ?></h3>
					<?php if (strlen($_product->chamber_name1)==0){ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $this->__('Data not available') ?><br />
					<?php }else{ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getchamber_name1(), 'chamber_name1') ?><br />
					<?php } ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getaddress1(), 'address1') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Day/Time:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getvisit_time1(), 'visit_time1') ?><br />
					<?php if (strlen($_product->phone)==0){ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $this->__('Data not available') ?><br />
					<?php }else{ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getphone(), 'phone') ?><br />
					<?php } ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Fee:  </b>') ?><?php  $price = $_helper->productAttribute($_product, $_product->getprice(), 'price') ?> &#x20B9;<?php echo substr("$price", 0, -2); ?> 
					
					
					<?php endif; ?>
					<?php if(strlen($_product->chamber_name2)==0): ?>
					<hr />
					
					<?php else: ?>
					<h3 style="color:#00A9C7;" ><?php echo $this->__('Chamber 2 ') ?></h3>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getchamber_name2(), 'chamber_name2') ?><br />
					<?php if (strlen($_product->address2)==0){ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address_D:  </b>'); ?><?php echo $this->__('Data not available'); ?><br />
					<?php }else{ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getaddress2(), 'address2') ?><br />
					<?php } ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Day/Time:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getvisit_time2(), 'visit_time2') ?><br />
					<?php if (strlen($_product->phone2)==0){ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $this->__('Data not available') ?><br />
					<?php }else{ ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getphone2(), 'phone2') ?><br />
					<?php } ?>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Fee:  </b>') ?><?php  $price = $_helper->productAttribute($_product, $_product->getprice2(), 'price2') ?> &#x20B9;<?php echo substr("$price", 0, -2); ?> 
					<br />
					
					<?php endif; ?>
					<?php if(strlen($_product->chamber_name3)==0): ?>
					<br />
					
					<?php else: ?>
					<h3 style="color:#00A9C7;" ><?php echo $this->__('Chamber 3 ') ?></h3>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getchamber_name3(), 'chamber_name3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getaddress3(), 'address3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Day/Time:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getvisit_time3(), 'visit_time3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getphone3(), 'phone3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Fee:  </b>') ?><?php  $price = $_helper->productAttribute($_product, $_product->getprice3(), 'price3') ?> &#x20B9;<?php echo substr("$price", 0, -2); ?> 
					<br />
					
					
					
					<?php endif; ?>
					<?php if(strlen($_product->chamber_name4)==0): ?>
					<br />
					<?php else: ?>
					<h3 style="color:#00A9C7;" ><?php echo $this->__('Chamber 4 ') ?></h3>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getchamber_name3(), 'chamber_name3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getaddress3(), 'address3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Day/Time:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getvisit_time3(), 'visit_time3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getphone3(), 'phone3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Fee:  </b>') ?><?php  $price = $_helper->productAttribute($_product, $_product->getprice3(), 'price3') ?> &#x20B9;<?php echo substr("$price", 0, -2); ?> 
					
					
					
					<?php endif; ?>
					<?php if(strlen($_product->chamber_name5)==0): ?>
					<br />
					<?php else: ?>
					<h3 style="color:#00A9C7;" ><?php echo $this->__('Chamber 5 ') ?></h3>
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Name:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getchamber_name3(), 'chamber_name3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Chamber Address:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getaddress3(), 'address3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Day/Time:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getvisit_time3(), 'visit_time3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Phone No:  </b>') ?><?php echo $_helper->productAttribute($_product, $_product->getphone3(), 'phone3') ?><br />
					&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->__('<b>Consultation Fee:  </b>') ?><?php  $price = $_helper->productAttribute($_product, $_product->getprice3(), 'price3') ?> &#x20B9;<?php echo substr("$price", 0, -2); ?> 
					
					
			<?php endif; ?>
			
			<?php endif; ?>	
					<!-- attributes from Doctor End -->
					<!-- attributes from Surgery Start -->
					