<?php
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('ultimo');
    $helpLabels = $this->helper('ultimo/labels');
    $helpTemplate = $this->helper('ultimo/template');
    $helpImg = $this->helper('infortis/image');
	$_product = $this->getProduct();
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');
	?>
<?php //if($_collectionSize = $this->getItems()->getSize()): ?>
			<div class="product-name">
					<script language="javascript">
					function toggle6() {
					var ele = document.getElementById("toggleText6");
					var text = document.getElementById("displayText6");
					if(ele.style.display == "block") {
					ele.style.display = "none";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Read More..</strong></span>';
					}
					else {
					ele.style.display = "block";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Show Less..</strong></span>';
					}
					}
					</script>
			<?php if (strlen($_product->description)<=5): ?><?php echo $this->__('') ?>
			<?php else: ?>	
					<?php echo $_helper->productAttribute($_product, $_product->getShort_description(), 'short_description') ?><a id="displayText6" href="javascript:toggle6();"><span style="color: #ff6600;"><strong>Read More..</strong></span></a> 
					<div id="toggleText6" style="display: none"> <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?></div>
					<?php endif; ?>
			</div>
			<!-- Attributes from HSP Start -->
				<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>	
				<?php if($category->getId()==4 || $category->getId()==6 || $category->getId()==7 || $category->getId()==8 || $category->getId()==9 || $category->getId()==10) : ?>
					<p> </p>
					<?php  
						$accreditations = $_product->getAttributeText('accreditations'); 
						$countAccreditations = count($accreditations);
						$str = null;
						if((int)$countAccreditations == 1){
							$str = $accreditations;
						}else{
							foreach($accreditations as $a){
								$str = $str.', '.$a;
							}
						}
					?>
					<br>
					<span><img src="/media/wysiwyg/infortis/ultimo/icons/caduceus8.png" alt="Accreditation" /></span>
					<?php echo $this->__('Accreditation:')?>
					<?php if($_product->accreditations==0): ?>
					<?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>
					<?php echo $str; ?>
					<br><br>
					<?php endif; ?>
					<?php if (strlen($_product->opd_time1)<=10): ?>
					<div class="day ic ic-1-5x ic-stopwatch"></div><strong>OPD Timing:</strong><?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>	
					
<?php // /* to get Label"*/ echo ''.$_product->getResource()->getAttribute('opd_time1')->getFrontend()->getLabel($_product).'';?>
<div class="day ic ic-1-5x ic-stopwatch"></div>&nbsp;OPD Timing:
<div class="opdtiming">
<table>
<tbody>

<tr>
<td></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime1(), 'opd_time1') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime2(), 'opd_time2') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getOpdTime3(), 'opd_time3') ?></td>
</tr>
</tbody>
</table>
</div>
<?php endif; ?>
<span><br><br><div class="day ic ic-1-5x ic-stopwatch"></div><strong>Visiting Hours:</strong></span>
<?php if (strlen($_product->visit_time1)<=10): ?>
<?php echo $this->__(' Data Not Available') ?>
<?php else: ?>	

<div class="opdtiming">
<table>
<tbody>

<tr>
<td></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime1(), 'visit_time1') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime2(), 'visit_time2') ?></td>
</tr>
<tr>
<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime3(), 'visit_time3') ?></td>
</tr>
</tbody>
</table>
</div>			
<?php endif; ?>
					<br><br>
					<div  class="city-address ic ic-2x ic-pin"> </div>
					<?php if (strlen($_product->address1)<=5): ?>
					<?php echo $this->__('Address Not Available') ?>
					<?php else: ?>	
					<?php echo $_helper->productAttribute($_product, $_product->getAddress1(), 'address1') ?>,
					<?php echo $_helper->productAttribute($_product, $_product->getAddress2(), 'address2') ?>,
					<?php echo $_product->getAttributeText('area_kolkata'); ?>
					<br><?php endif; ?>
			<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_product->getAttributeText('city'); ?>&nbsp;-<?php echo (int) $_helper->productAttribute($_product, $_product->getPincode(), 'pincode') ?>,&nbsp;<?php echo $_product->getAttributeText('state'); ?> </h5>
			<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
			<?php if (strlen($_product->Phone)<=5): ?>
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $this->__('Phone No. not available') ?>
			<?php else: ?>	
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $_helper->productAttribute($_product, $_product->getPhone(), 'phone') ?>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Email)<=3): ?>
			<br>
			<span class="ic ic-letter ic-lg"></span>&nbsp;<?php echo $this->__('E-mail not available') ?>
			<br>
			<?php else: ?>
			<span class="ic ic-letter ic-lg"></span>&nbsp; <a href="mailto:<?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?>"><?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?></a>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Website)<=3): ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<?php echo $this->__('Website not available') ?>
			<?php else: ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<a href="http://<?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?>" target="_blank"><?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?></a>
			<?php endif; ?>
<?php endif; ?>
					<!-- attributes from HSP End -->
					<!-- attributes from Doctor start -->
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==12 || $category->getId()==13 || $category->getId()==14 || $category->getId()==15 || $category->getId()==16): ?>
					<p> </p>
					<?php if($_product->speciality==0): ?>
					<?php echo $this->__('Qualification: ') ?><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<?php echo $this->__('Qualification: ') ?><?php echo $_helper->productAttribute($_product, $_product->getQualification(), 'qualification') ?>
					<?php endif; ?>
					<br><br>
					<span><div class="day ic ic-1-5x ic-stopwatch"></div><strong>Consultation Day/Time:</strong></span>
					<?php if (strlen($_product->visit_time1)<=10): ?>
					<?php echo $this->__(' Data Not Available') ?>
					<?php else: ?>	
					<div class="opdtiming">
					<table>
					<tbody>

					<tr>
					<td></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime1(), 'visit_time1') ?></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime2(), 'visit_time2') ?></td>
					</tr>
					<tr>
					<td><?php echo $_helper->productAttribute($_product, $_product->getVisitTime3(), 'visit_time3') ?></td>
					</tr>
					</tbody>
					</table>
					</div>
					<?php endif; ?>
					<br>
					<div  class="city-address ic ic-2x ic-pin"> </div>
					<?php if (strlen($_product->address1)<=5): ?>
					<?php echo $this->__('Address Not Available') ?>
					<?php else: ?>	
					<?php echo $_helper->productAttribute($_product, $_product->getAddress1(), 'address1') ?>,
					<?php echo $_helper->productAttribute($_product, $_product->getAddress2(), 'address2') ?>,
					<?php echo $_product->getAttributeText('area_kolkata'); ?>
					<br><?php endif; ?>
			<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $_product->getAttributeText('city'); ?>&nbsp;-<?php echo (int) $_helper->productAttribute($_product, $_product->getPincode(), 'pincode') ?>,&nbsp;<?php echo $_product->getAttributeText('state'); ?> </h5>
			<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
			<?php if (strlen($_product->Phone)<=5): ?>
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $this->__('Phone No. not available') ?>
			<?php else: ?>	
			<br><div class="ic ic-phone ic-lg"></div>&nbsp;<?php echo $_helper->productAttribute($_product, $_product->getPhone(), 'phone') ?>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Email)<=3): ?>
			<br>
			<span class="ic ic-letter ic-lg"></span>&nbsp;<?php echo $this->__('E-mail not available') ?>
			<br>
			<?php else: ?>
			<span class="ic ic-letter ic-lg"></span>&nbsp; <a href="mailto:<?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?>"><?php echo $_helper->productAttribute($_product, $_product->getEmail(), 'email') ?></a>
			<br>
			<?php endif; ?>
			<?php if (strlen($_product->Website)<=3): ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<?php echo $this->__('Website not available') ?>
			<?php else: ?>
			<span class="ic ic-dribbble ic-lg"></span>&nbsp;<a href="http://<?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?>" target="_blank"><?php echo $_helper->productAttribute($_product, $_product->getWebsite(), 'website') ?></a>
			<?php endif; ?>
			<?php endif; ?>	
					<!-- attributes from Doctor End -->
					<!-- attributes from Surgery Start -->
					<?php $category = Mage::getModel('catalog/layer')->getCurrentCategory();?>
					<?php if($category->getId()==17 || $category->getId()==18 || $category->getId()==19 || $category->getId()==20 || $category->getId()==21 || $category->getId()==22 || $category->getId()==23 || $category->getId()==24 || $category->getId()==25 || $category->getId()==26 || $category->getId()==27 || $category->getId()==28 || $category->getId()==29 || $category->getId()==34 || $category->getId()==35 || $category->getId()==36 || $category->getId()==37 || $category->getId()==38 || $category->getId()==39 || $category->getId()==40 || $category->getId()==41 || $category->getId()==42 || $category->getId()==43 || $category->getId()==50 || $category->getId()==51 || $category->getId()==52): ?>

					<?php if (strlen($_product->surgery_duration)<=5): ?>
					<br>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-lastminute ic-lg"></span>&nbsp;<?php echo $this->__('Package Duration: ') ?><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<br>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-lastminute ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package Duration: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getSurgeryDuration(), 'surgery_duration') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->package_inclusions)<=5): ?>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-success ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package inclusions: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-success ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package inclusions: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getPackageInclusions(), 'package_inclusions') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->package_exclusions)<=5): ?>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-close ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package exclusions: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-close ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package exclusions: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getPackageExclusions(), 'package_exclusions') ?>
					<?php endif; ?>	
					<!--
					<?php 
					/*if (strlen($_product->technology_applied)<=5): ?>
					<strong><?php echo $this->__('Technology Applied: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Technology Applied: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getTechnologyApplied(), 'technology_applied') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->surgery_certification_tech)<=5): ?>
					<strong><?php echo $this->__('Certification of technology (if any): ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Certification of technology (if any): ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getSurgeryCertificationTech(), 'surgery_certification_tech') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->case_study)<=5): ?>
					<strong><?php echo $this->__('Case Study: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Case Study: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getCaseStudy(), 'case_study') ?>
					<?php endif;*/  ?> 
					<?php endif; ?>
					<!-- attributes from Surgery End -->
					<script language="javascript">
					function toggle7() {
					var ele = document.getElementById("toggleText7");
					var text = document.getElementById("displayText7");
					if(ele.style.display == "block") {
					ele.style.display = "none";
					text.innerHTML = '<span style="color: #ff6600;"><h2><strong>Show More Information..</strong></h2></span>';
					}
					else {
					ele.style.display = "block";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Show Less..</strong></span>';
					}
					}
					</script>
					<br><br>
					<a id="displayText7 khalid" href="javascript:toggle7();"><span style="color: #ff6600;"><h2><strong>Show More Information..</strong></h2></span></a> 
					<div id="toggleText7" style="display: none"> <?php echo $this->getLayout()->createBlock('catalog/product_view_attributes')->setTemplate('catalog/product/view/attributes.phtml')->toHtml(); ?></div>
					



					
