<?php
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('ultimo');
    $helpLabels = $this->helper('ultimo/labels');
    $helpTemplate = $this->helper('ultimo/template');
    $helpImg = $this->helper('infortis/image');
	$_product = $this->getProduct();
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');
	?>
<?php //if($_collectionSize = $this->getItems()->getSize()): ?>
			<div class="product-name">
				<h5 itemprop="name"><?php echo $this->__('Surgery Name: ') ?><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h5>
					<script language="javascript">
					function toggle6() {
					var ele = document.getElementById("toggleText6");
					var text = document.getElementById("displayText6");
					if(ele.style.display == "block") {
					ele.style.display = "none";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Read More..</strong></span>';
					}
					else {
					ele.style.display = "block";
					text.innerHTML = '<span style="color: #ff6600;"><strong>Show Less..</strong></span>';
					}
					}
					</script>
			<?php if (strlen($_product->description)<=5): ?><?php echo $this->__('') ?>
			<?php else: ?>	
					<?php echo $_helper->productAttribute($_product, $_product->getShort_description(), 'short_description') ?><a id="displayText6" href="javascript:toggle6();"><span style="color: #ff6600;"><strong>Read More..</strong></span></a> 
					<div id="toggleText6" style="display: none"> <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?></div>
					<?php endif; ?>
			</div>

					<?php if (strlen($_product->surgery_duration)<=5): ?>
					<br>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-lastminute ic-lg"></span>&nbsp;<?php echo $this->__('Package Duration: ') ?><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<br>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-lastminute ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package Duration: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getSurgeryDuration(), 'surgery_duration') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->package_inclusions)<=5): ?>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-success ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package inclusions: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-success ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package inclusions: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getPackageInclusions(), 'package_inclusions') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->package_exclusions)<=5): ?>
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-close ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package exclusions: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>	
					<span class="ic ic-package ic-lg"></span>&nbsp;<span class="ic ic-close ic-lg"></span>&nbsp;<strong><?php echo $this->__('Package exclusions: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getPackageExclusions(), 'package_exclusions') ?>
					<?php endif; ?>	
					<br><br>
					<?php if (strlen($_product->technology_applied)<=5): ?>
					<strong><?php echo $this->__('Technology Applied: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Technology Applied: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getTechnologyApplied(), 'technology_applied') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->surgery_certification_tech)<=5): ?>
					<strong><?php echo $this->__('Certification of technology (if any): ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Certification of technology (if any): ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getSurgeryCertificationTech(), 'surgery_certification_tech') ?>
					<?php endif; ?>
					<br><br>
					<?php if (strlen($_product->case_study)<=5): ?>
					<strong><?php echo $this->__('Case Study: ') ?></strong><?php echo $this->__('Data Not Available') ?>
					<?php else: ?>
					<strong><?php echo $this->__('Case Study: ') ?></strong><?php echo $_helper->productAttribute($_product, $_product->getCaseStudy(), 'case_study') ?>
					<?php endif; ?>


					
