<?php 
	$ids = $this->getFilteredIds();
?>
<?php $product_model = Mage::getModel('catalog/product');?>
<div id="doctors">
	<?php if(count($ids)){ ?>
	<div class="block block-custom">
		<div class="block-content">
			<ol class="mini-products-list" id="block-custom-doctor">
			<?php foreach($ids as $_id): ?>
				<?php $_item = $product_model->load($_id);?>
<li class="item" id="doctor-<?php echo $_item->getId(); ?>">
							<?php if(!$_item->isComposite() && $_item->isSaleable()): ?>

							<?php endif; ?>
							<div class="product">
								<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(50) ?>" width="50" height="50" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
								<div class="product-details">
									<p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></p>
								</div>
								<div class="doctor-custom">
									<p><?php echo $qualification = $_item->getResource()->getAttribute('qualification')->getFrontend()->getValue($_item); ?></p>
									<p>
									<?php if($_item->price==0): ?>
									<?php echo $this->__('') ?>
									<?php else: ?>
									<?php echo $this->__('Consultation Fee: ') ?><div class="doctor-fee-custom"> <?php echo $this->getPriceHtml($_item, true, '-custom') ?></div>
									<?php endif; ?>
									</p>
								<p>	
								<?php if($_item->experience==0): ?>
								<?php echo $this->__('') ?>
								<?php else: ?>
								<?php echo $this->__('Total Experience: ') ?><?php echo (int)$experience = $_item->getResource()->getAttribute('experience')->getFrontend()->getValue($_item); ?><?php echo $this->__(' years') ?>
								<?php endif; ?>
								</p>
								<p>
								<?php if($_item->speciality==0): ?>
								<?php echo $this->__('') ?>
								<?php else: ?>
								<label><?php echo $this->__('Speciality: ')?></label>
								<?php echo $speciality = $_item->getResource()->getAttribute('speciality')->getFrontend()->getValue($_item); ?>
								<?php endif; ?>
								</p>
									<p>
									<?php if (strlen($_item->visit_time1)<=10): ?>
									<?php echo $this->__('') ?>
									<?php else: ?>	
									<span style="text-decoration: underline;"><strong><?php echo $this->__('Consultation Timing:') ?></strong></span>
									<?php 
										$visit_time1 = $_item->getResource()->getAttribute('visit_time1')->getFrontend()->getValue($_item); 

										if(isset($visit_time1)){
											echo '<br>'.$visit_time1;
										} 
									?>

									<?php 
										$visit_time2 = $_item->getResource()->getAttribute('visit_time2')->getFrontend()->getValue($_item); 

										if(isset($visit_time2)){
											echo '<br>'.$visit_time2;
										} 
									?>

									<?php 
										$visit_time3 = $_item->getResource()->getAttribute('visit_time3')->getFrontend()->getValue($_item); 

										if(isset($visit_time3)){
											echo '<br>'.$visit_time3;
										} 
									?>
									<?php endif; ?>
									</p>
								</div>
							</div>
						</li>
			<?php endforeach ?>
			</ol>
			<script type="text/javascript">decorateList('block-custom', 'none-recursive')</script>
		</div>
	</div>
	<?php }else{ ?>
	<p>Sorry there is no filterable result.</p>
	<?php } ?>
</div>