<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php
$id = $this->getId();
$_productCollection = $this->getCollection();?>
<?php if($_collectionSize = $_productCollection->getSize()): ?>

    <div id="owl-examplea-<?php echo $id ?>" class="owl-carousel">
    <?php foreach($_productCollection as $_item): ?>
        <?php $_product = Mage::getModel('catalog/product')->load($_item->getId()); ?>
        <?php $name = $this->escapeHtml($_product->getName()) ?>
        <?php $url = $_product->getProductUrl() ?>
        <div class="item">
            <a href="<?php echo $url ?>" title="<?php echo $name ?>" class="product-image">
                <img class="lazyOwl" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(100) ?>" alt="<?php echo $name ?>" />
            </a>
            <p class="product-label">
                <a href="<?php echo $url ?>" title="<?php echo $name ?>">
                    <?php echo $this->escapeHtml($_product->getName()) ?>
                </a> 
            </p>
					<p> 
						<?php  
						$accreditations = $_product->getAttributeText('accreditations'); 
						$countAccreditations = count($accreditations);
						$str = null;
						if((int)$countAccreditations == 1){
							$str = $accreditations;
						}else{
							foreach($accreditations as $a){
								$str = $str.', '.$a;
							}
						}
					?>
					<?php if($_product->accreditations!=0): ?>
					<?php echo $this->__('') ?>
					<?php else: ?>
					<br>
					<span><img src="/media/wysiwyg/infortis/ultimo/icons/caduceus8.png" alt="Accreditation" /></span>
					<?php echo $this->__('Accreditation:')?> <?php echo $str; ?>
					<?php endif; ?>
				</p>
				<div class="tab-review" > <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?> </div>
					<?php echo '<span class="attr-label">'.$this->__('Phone no.') . ':</span> ' . $_product->getResource()->getAttribute('phone')->getFrontend()->getValue($_product) ?>
					
        </div>
		
    <?php endforeach; ?>
    </div>

<?php endif; ?>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#owl-examplea-<?php echo $id ?>").owlCarousel({
        navigation : false,
        lazyLoad : true,
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem: true,

    });
});
</script>
