<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php
$id = $this->getId();
$attribute_code = $this->getAttributeCode();
$_productCollection = $this->getCollection();?>
<?php if($_collectionSize = $_productCollection->getSize()): ?>

    <div id="owl-example-<?php echo $id ?>" class="owl-carousel">
    <?php foreach($_productCollection as $_item): ?>
        <?php $_product = Mage::getModel('catalog/product')->load($_item->getId()); ?>
        <?php $name = $this->escapeHtml($_product->getName()) ?>
        <?php $url = $_product->getProductUrl() ?>
        <div class="item">
            <a href="<?php echo $url ?>" title="<?php echo $name ?>" class="product-image">
                <img class="lazyOwl" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(100) ?>" alt="<?php echo $name ?>" />
            </a>
            <a href="<?php echo $url ?>" title="<?php echo $name ?>">
                <?php echo $this->escapeHtml($_product->getName()) ?>
            </a>
            <?php if ($_product->getQualification()) echo '<br>'.$_product->getQualification().'<br>' ?>

            <p class="product-label">
                <?php
                    $speciality = $_product->getResource()->getAttribute('speciality')->getFrontend()->getValue($_product);
                    $experience = $this->escapeHtml(intval($_product->getExperience()));
                ?>

                <?php if ($attribute_code == 'hsp_doctors'): ?>
                    <?php
                        $summaryData = Mage::getModel('review/review_summary')
                                        ->setStoreId(Mage::app()->getStore()->getId())
                                        ->load($_product->getId());
                    
                    if ($summaryData['rating_summary']):?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>
                            </div>
                            <p class="rating-links">
                                <a href="<?php echo $url . '#customer-reviews' ?>"><?php echo $summaryData['reviews_count'] . ' Review(s)' ?></a>
                            </p>
                        </div>
                    <?php endif; ?>

                <?php endif; ?>

                <?php if (strlen($speciality)) echo '<span class="attr-label">'.$this->__('Speciality') . ':</span> ' . $speciality ?><br>
                <?php if ($experience) echo '<span class="attr-label">'.$this->__('Experience') . ':</span> ' . $experience . ' years' ?><br>

                <?php if ($attribute_code == 'surgery_surgeon'): ?>
                    <?php $surgeries = $this->escapeHtml(intval($_product->getNoOfSurgeriesConducted())); ?>
                    <?php if ($surgeries) echo '<span class="attr-label">'.$this->__('Surgeries Conducted') . ':</span> ' . $surgeries ?>
                <?php endif; ?>
            </p>
        </div>
    <?php endforeach; ?>
    </div>

<?php endif; ?>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#owl-example-<?php echo $id ?>").owlCarousel({
        navigation : true,
        lazyLoad : true,
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem: true,
        autoWidth:true,
        center: true,
        navigationText: [
            "<i class='ic ic-left'></i>",
            "<i class='ic ic-right'></i>"
        ]
    });
});
</script>