<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php
$doctor = $this->getDoctor();
    $attributeName = 'attached_hsp';
    $linkTypeCode = 'custom_'. $attributeName; //dont change
    $itemCollection = Mage::helper('customRelations/product')->getRelatedProductCollection($doctor, $linkTypeCode);
    Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($itemCollection);
?>
<?php if ($itemCollection->count()): ?>
    <?php echo $itemCollection->count(); ?>
     <a href="javascript:;" class="doctor-hsp-toggle">(View)</a>
<?php endif; ?>    

<div class="doctor-hsp closed">
<?php if($_collectionSize = $itemCollection->count()): ?>

    <div id="owl-example-<?php echo $doctor->getId() ?>" class="owl-carousel doctor-hsp">
    <?php foreach($itemCollection as $_item): ?>
        <?php $_product = Mage::getModel('catalog/product')->load($_item->getId()); ?>
        <?php $hsp_name = $_product->getName(); ?>
        <div class="item">

            <?php
            $_hsp = Mage::getModel('catalog/product')->loadByAttribute('name', $hsp_name);
            if ($_hsp):
                $url = $_hsp->getProductUrl();
            ?>
                <div class="">
                    <a href="<?php echo $url ?>" title="<?php echo $hsp_name ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_hsp, 'thumbnail')->resize(100) ?>" alt="<?php echo $hsp_name ?>" />
                    </a>
                    <a href="<?php echo $url ?>" title="<?php echo $name ?>">
                        <?php echo $this->escapeHtml($hsp_name) . '<br>' ?>
                    </a>

                    <?php
                        $summaryData = Mage::getModel('review/review_summary')
                                        ->setStoreId(Mage::app()->getStore()->getId())
                                        ->load($_hsp->getId());
                    
                    if ($summaryData['rating_summary']):?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>
                            </div>
                            <p class="rating-links">
                                <a href="<?php echo $url . '#customer-reviews' ?>"><?php echo $summaryData['reviews_count'] . ' Review(s)' ?></a>
                            </p>
                        </div>
                    <?php endif; ?>

                    <div class="product-label">
                        <?php
                            $attr_accreditations = $_hsp->getResource()->getAttribute('accreditations');
                        ?>
                        <?php if ($value = $attr_accreditations->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_accreditations->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?> 
                        <?php endif; ?>

                        <?php
                            $attributeName = 'hsp_doctors';
                            $linkTypeCode = 'custom_'. $attributeName; //dont change
                            $itemCollection = Mage::helper('customRelations/product')->getRelatedProductCollection($_item, $linkTypeCode);
                            Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($itemCollection);
                            $hsp_doctors_count = $itemCollection->count();
                        ?>
                        <?php if ($hsp_doctors_count) echo '<span class="attr-label">'.$this->__('Attached Doctors') . ':</span> ' . $hsp_doctors_count . '<br>' ?>

                        <?php $attr_critical_care_and_other_units = $_hsp->getResource()->getAttribute('critical_care_and_other_units'); ?>
                        <?php if ($value = $attr_critical_care_and_other_units->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_critical_care_and_other_units->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?> 
                        <?php endif; ?>

                        <?php $attr_corporate_patient_desk = $_hsp->getResource()->getAttribute('corporate_patient_desk'); ?>
                        <?php if ($value = $_hsp->getCorporatePatientDesk()): ?>
                            <?php echo '<span class="attr-label">'. $attr_corporate_patient_desk->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?> 
                        <?php endif; ?>

                        <?php $attr_facility_in_patient_attendant = $_hsp->getResource()->getAttribute('facility_in_patient_attendant'); ?>
                        <?php if ($value = $attr_facility_in_patient_attendant->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_facility_in_patient_attendant->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?> 
                        <?php endif; ?>

                        <?php $attr_international_patient_desk = $_hsp->getResource()->getAttribute('international_patient_desk'); ?>
                        <?php if ($value = $attr_international_patient_desk->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_international_patient_desk->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?>
                        <?php endif; ?>

                        <?php $attr_conceirge_facility = $_hsp->getResource()->getAttribute('conceirge_facility'); ?>
                        <?php if ($value = $attr_conceirge_facility->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_conceirge_facility->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?>
                        <?php endif; ?>

                        <?php $attr_emergency_services = $_hsp->getResource()->getAttribute('emergency_services'); ?>
                        <?php if ($value = $attr_emergency_services->getFrontend()->getValue($_hsp)): ?>
                            <?php echo '<span class="attr-label">'. $attr_emergency_services->getStoreLabel() . ':</span> ' . $value . '<br>'; $value = ''; ?>
                        <?php endif; ?>

                    </div>
                </div>
            <?php
            endif;
            ?>


        </div>
    <?php endforeach; ?>
    </div>

<?php endif; ?>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#owl-example-<?php echo $doctor->getId() ?>").owlCarousel({
        navigation : true,
        lazyLoad : true,
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem: true,
        autoWidth:true,
        center: true,
        navigationText: [
            "<i class='ic ic-left'></i>",
            "<i class='ic ic-right'></i>"
        ]
    });
});
</script>
</div>