<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>

<script type='text/javascript' src="<?php echo $this->getSkinUrl('js/jquery.autocomplete.min.js');?>"></script>

<?php
$categories = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToSelect('*')//or you can just add some attributes
    ->addAttributeToFilter('level', 2)//2 is actually the first level
    ->addAttributeToFilter('is_active', 1)//if you want only active categories
;
	
?>
<script>
$j(function($){
	
	
  /*var currencies = [
	<?php foreach($categories as $category) { ?>
    { value: '<?php echo $category->getName()?>', data: '<?php echo $category->getEntityId();?>' },
    <?php } ?>
  ];
  
  // setup autocomplete function pulling from currencies[] array
  $('#cat').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
	  $j('#cat').val(suggestion.value);
    }
  });
	*/
	/* Coded by supravat */
	$('#cat').focusin(function(){
	  $('#cat').val("");
	  $('#super').css("display","block");
	});
	$('#cat').focusout(function(){
	  //$('#super').css("display","none");
	});  

	$('#cat').keypress(function() {
		$('#super').css("display","none");
	});
	$('#super li').click(function() {
		$('#cat').val($(this).text());
		$('#super').css("display","none");
		$('.UI-SEARCH').focus();
	});
});
</script>
<form class="searchautocomplete-widget UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">
    <div class="nav margin16px-1">
		 <label> <?php echo $this->__('Category/Services');?> :</label>
        <?php //if ($_filterType == 'category'): ?>
        <div class="nav-search-in">
          <input type="text" name="cat" class="search-form category UI-CATEGORY" id="cat" value="<?php echo $this->__('Search By');?>">
          <ul id="super" style="display:none; " class="display-ul">
				<?php foreach($categories as $category) { ?>
					<li id="<?php echo $category->getEntityId();?>" ><?php echo $category->getName()?></li>
				<?php } ?>
			</ul>
        </div>
        <?php //endif ?>
        <div class="nav-input UI-NAV-INPUT" style="position:relative;">
            <input class="search-form input-padding UI-SEARCH" type="text" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" maxlength="<?php echo $_helper->getMaxQueryLength() ?>" />
            
        </div>
        <div style="display:none;" class="autocomplete-suggestion UI-PLACEHOLDER" ></div>
        <div class="searchautocomplete-loader UI-LOADER" style="display:none; "></div>
    </div>
    
    <div class="nav-submit-button">
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="blue-search"><?php echo $this->__('Search') ?></button>
    </div>
    
    <div class="clear"></div>
</form>

