<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>

<!--<script type='text/javascript' src="<?php echo $this->getSkinUrl('js/jquery.autocomplete.min.js');?>"></script>-->
<style>
.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}



.autocomplete-suggestions { text-align: left; border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }	
</style>
<?php
$categories = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToSelect('*')//or you can just add some attributes
    ->addAttributeToFilter('level', 2)//2 is actually the first level
    ->addAttributeToFilter('is_active', 1)//if you want only active categories
;
	
?>
<script>
$j(function($){
  var currencies = [
	<?php foreach($categories as $category) { ?>
    { value: '<?php echo $category->getName()?>', data: '<?php echo $category->getEntityId();?>' },
    <?php } ?>
  ];
  
});

</script>
<form class="searchautocomplete-widget UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">
    <div class="nav margin16px">
		 <label> <?php echo $this->__('Category/Services');?> :</label>
        <?php if ($_filterType == 'category'): ?>
        <div class="nav-search-in">
            <select name="cat" class="search-form category UI-CATEGORY">
                <option value="0"><?php echo $this->__('All') ?></option>
                <?php foreach ($this->getCategories() as $_category): ?>
                <option value="<?php echo $_category->getId() ?>" <?php if ($_currentCategory == $_category->getId()): ?>selected<?php endif ?>>
                    <?php echo trim($_category->getName()) ?>
                </option>
                <?php endforeach ?>
            </select>

        </div>
        <?php endif ?>
        <div class="nav-input UI-NAV-INPUT">
            <input class="search-form input-padding UI-SEARCH" type="text" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" maxlength="<?php echo $_helper->getMaxQueryLength() ?>" />
        </div>
        <div class="searchautocomplete-loader UI-LOADER" style="display:none; "></div>
    </div>
    <div class="nav-submit-button">
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="blue-search"><?php echo $this->__('Search') ?></button>
    </div>
    <div style="display:none; position:absolute; width:96%; line-height:20px; background:#fff; margin-top:-19px; padding:9px; z-index:9999;" class="autocomplete-suggestion UI-PLACEHOLDER" ></div>
    <div class="clear"></div>
</form>

