<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css" />

<script src="<?php echo $this->getSkinUrl("js/jquery-ui.autocompleteselect.js");?>"></script>

<?php
$categories = Mage::getModel('catalog/category')->getCollection()
    ->addAttributeToSelect('*')//or you can just add some attributes
    ->addAttributeToFilter('level', 2)//2 is actually the first level
    ->addAttributeToFilter('is_active', 1)//if you want only active categories
;
	
?>

<script type="text/javascript">
	jQuery(function($){
		$('#select_cat').autocompleteselect().change(function(event) {
			/*var element = $('<span style="font-weight: bold; border:1px solid red;"></span>').appendTo('#output').wrap('<div style="cursor: pointer;"><p>Value changed to: </p></div>')
			var selectedElement = $('option:selected', this);
			element.text(selectedElement.val() + ' / ' + selectedElement.text());
			element.closest('div').click(function() {
				$(this).remove();
			});*/
		}).blur(function(event) {
			/*var element = $('<span style="font-weight: bold; border:1px solid red;"></span>').appendTo('#output').wrap('<div style="cursor: pointer;"><p>Value blurred to: </p></div>')
			var selectedElement = $('option:selected', this);
			element.text(selectedElement.val() + ' / ' + selectedElement.text());
			element.closest('div').click(function() {
				$(this).remove();
			});*/
		});
	});
</script>
<form class="searchautocomplete-widget UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">
    <div class="input-form nav">
		 <label> <?php echo $this->__('Category/Services');?> :</label>
        <?php if ($_filterType == 'category'): ?>
        <div class="nav-search-in">
		<select id="select_cat" class="search-form category UI-CATEGORY"  name="cat" >
			
			<?php foreach($categories as $category) { ?>
				<option value="<?php echo $category->getEntityId();?>" ><?php echo $category->getName()?></option>
			<?php } ?>
		</select>
          <div id="output" style="font-size: smaller;"></div>
        </div>
        <?php endif ?>
        <div class="nav-input UI-NAV-INPUT" style="position:relative;">
            <input class="search-form input-padding UI-SEARCH" type="text" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" maxlength="<?php echo $_helper->getMaxQueryLength() ?>" />
            
        </div>
        <div style="display:none;" class="autocomplete-suggestion UI-PLACEHOLDER" ></div>
        <div class="searchautocomplete-loader UI-LOADER" style="display:none; "></div>
    </div>
    
    <div class="nav-submit-button">
        <button id="blue-search" type="submit" title="<?php echo $this->__('Search') ?>" class="blue-search"><?php echo $this->__('Search') ?></button>
    </div>
    
    <div class="clear"></div>
</form>

