/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */



/* Stock indicator on product page: icon color
-------------------------------------------------------------- */

/*
.availability-only .ic { color: green; }
*/



/* Product counter in the mini cart drop-down
-------------------------------------------------------------- */

/*
.header .skip-link .count {
	background-color: deepskyblue;
}
*/

/* Home Search bar
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.hb-home-search {
	display:block;
	position:absolute;
	margin-top:-30.5%;
	margin-bottom:25%;
	width:38%;
	left:28%;
	/*margin:0;
	padding:0;*/
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  
  .hb-home-search{ display: none; }
}

.hb-inner-search {
	display:block;
	position:relative;
	float:right;
	margin-top:-4%;
	margin-bottom:0%;
	width:65%;
	right:5%;
	/*margin:0;
	padding:0;*/
}
.hb-view-search {
	display:block;
	position:relative;
	float:right;
	margin-top:0%;
	margin-bottom:1%;
	width:55%;
	right:5%;
	/*margin:0;
	padding:0;*/
}

/* Home Search position
-------------------------------------------------------------- */
.hb-home-search.top {
	top:0;
	bottom:auto;
	width:80%;
}
.hb-home-search.top-right {
	top:0;
	bottom:auto;
	right:0;
	width:58%;
}
.hb-home-search.center-middle {
	top:25%;
	left:19%;
	width:44%;
}

.form-search .input-text {
	float:right; /* Float in the same direction as position of button */
	width:100%;
	display: block;
	height:41px;
	line-height:41px; /*IE8*/
	padding:0px 35px 0 7px;
	color:#6699cc;
	background-color:#fff;
	overflow:hidden;
	text-overflow:ellipsis;
	border-right-width:75px;
	border-left-width:3px;
	border-top-width:3px;
	border-bottom-width:3px;
	font-size:small;
}

/* Button */
.form-search .button {
	position:absolute;
	right:0;
	top:0;
	margin:1px;
	padding:0;
	/*background:url(../images/sprite.png) no-repeat transparent;
	background-position:-57px -108px;*/
	background-color:transparent !important;
	color:#000;
	width:75px;
	height:41px;
	line-height:41px;
	text-align:center;
	font-size: small;
}

.hb-home-scroll {
	display:block;
	position:relative;
	bottom:0;
	width:98%;
	/*margin:6%;*/
	padding:0;
	margin-top:-6px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  
  .hb-home-scroll{ display: none; }
}
.hb-home-scroll.buttom{
	top:25%;
	left:19%;
	width:44%;
}

/* Youtube home page */
.youtube-container { 
display: block;
position:absolute; 
width: 18%; 
max-width: 600px; 
right:9%;
float:right;
top:34%;
}
.youtube-container.top-right {
	margin-top:-16.5%;
	margin-bottom:6%;
	right:0;
	width:18%; 
	margin-right:6%;
	
}
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; border: 8px solid rgba(3, 3, 3, 0.26); border-radius:10px; zoom:70%; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("/media/image/youtube-play.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/* Decrease padding on home page */
body.cms-index-defaultindex .main { padding-top:0px; padding-bottom:0px; }

/*Brand slider control off 
.owl-controls {display:none !important;}
.owl-controls-doctor {display:block;}*/ 
.brand-slider .item {padding-top:5px;}
/*Label font size*/
.section-title.padding-right {font-size:medium;}
/* footer adjustment*/
.footer-container {margin-top:-45px;}

/* home page service buttons */
.make-request
{
/*padding-left: 50px;*/
margin-left: 73px;
color:#1f567d;
}
.utility
{
/*padding-left: 95px;*/
margin-left: 110px;
color:#1f567d;
}
.apps
{
/*padding-left: 110px;*/
margin-left: 122px;
color:#1f567d;
}
.life-notes
{
/*padding-left: 80px;*/
margin-left: 100px;
color:#1f567d;
}
.city-address
{
	line-height: 10px;	
	width: 22px;
	height: 10px;
	color: #FF0000;
}
.time
{
	line-height: 35px;	
	width: 25px;
	height: 0px;
	color: #1f567d;
}
.day
{
	line-height: 10px;	
	width: 23px;
	height: 14px;
	color: #1f567d;
}
.rev
{
	line-height: 40px;	
	/*width: 23px;*/
	height: 14px;
	color: #16AB06;
}
/* home search text*/
.form-search .button span span { display:block; color:#fff; } /* Hide/show text label */
.video-container {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.video-container iframe,
.video-container object,
.video-container embed {position:absolute; top:0; left:0; width:80%; height:80%; border-radius:5px; border:solid;}
.tab-review {height:10px; margin-top:-15px;}
.searchautocomplete {top:0px; right:38px; background:transparent; position:relative;}
.product-view .box-additional {margin-top:10px;}
.button {float:left;}
.brand {margin-top:305px;}
.services {margin-top:-355px; margin-left:320px; position:absolute;}
.caption.top {top:20%; left:15%; bottom:auto; width:52%;}
.caption.top1 {top:3%; left:20.5%; bottom:auto;}
.caption.top2 {top:3%; left:5.5%; bottom:auto;}
.caption.top3 {top:1%; left:60%; bottom:auto;}
.caption.top4 {top:-12%; left:30%; bottom:auto; position:absolute;}
.feature.indent-size-xl {padding-left:17%;}
.feature.indent-size-xl > .ic {}
#search_mini_form {width:50%;}
.form-search .input-text {border-color:#6699cc;}
body.cms-index-index .main, body.cms-index-defaultindex .main {margin-top:-340px;}
.buttons-set {margin:30px 0 0; padding-top:10px;border-top:1px solid #e5e5e5;}
.buttons-set p.required {float: left;}
.buttons-set button.button {float:left; margin-left:5px;}
.dashboard .box .box-title {text-align:left;}
.searchautocomplete .nav-submit-button .button {width:80px; height:33px; background-image: linear-gradient(to bottom, #6699cc, #99cccc); border: none;}
.searchautocomplete .nav .nav-input input {height:23px;}
.searchautocomplete .nav {width:80%;}
.header-regular .central-column {padding-left:59px; padding-right:0;}
/*social right icons*/
.social-share-right {top:18%;} 
.slider-arrows1-pos-top-right .owl-controls .owl-buttons {top:20px;right:20px;}
/*.slider-arrows1 .owl-controls .owl-buttons div, .slider-arrows2 .owl-controls .owl-buttons div, .slider-arrows3 .owl-controls .owl-buttons div {background-image: url(../../../ultimo/default/images/infortis/_shared/generic-nav/slider-arrows.png);} */
.brand-slider .owl-controls,.the-slideshow .owl-controls{display:none !important;}
.parent .popup {display:none;}
.parent:hover .popup {display:block;}
.tooltip-top .feature.indent-size-xl{padding-left:175px}
#org-doctors .owl-buttons .owl-prev{float:left}
#org-doctors .owl-buttons .owl-next{float:right}
#org-doctors .owl-buttons .owl-prev,#org-doctors .owl-buttons .owl-next {background:#1F567D; padding:2px 10px; -webkit-border-radius:5px;
-moz-border-radius:5px; border-radius:5px; color:#fff}
#org-doctors .owl-buttons .owl-prev:hover,#org-doctors .owl-buttons .owl-next:hover {background:#00d2ef;color:#000}
#org-doctors .owl-wrapper .owl-item{word-wrap:break-word}
#product-tabs #org-doctors {margin-top:0;}
#product-tabs #filtered-doctors {margin-top:0;}
@media screen and (min-width: 0px) and (max-width: 479px) {
#product-tabs .block-custom{margin-left: 0}
/*.header-top .item {display:inline !important;}*/
}
#product-tabs .filter-check{float: left}
#product-tabs .filter-check li{width: auto}
@media screen and (min-width: 0px) and (max-width:397px) {
.lang-head {float:none;}
.switch-toggle-right {margin-right:0px !important; margin-bottom:1px !important;}
.lang-sec {text-align:center; width:40%;}	
}
@media screen and (min-width: 0px) and (max-width:769px) {
.searchautocomplete {top:0px; left:0; right:0; margin:auto; background:transparent; position:relative;}
.central-column {width:100% !important;}
}
.current {color:#FFF !important; background-color:#69C !important;}
.lang-sec {background-color:#ccc;}

/* top header custom check box design css START*/
.switch-toggle a, .switch-light span span {display:none;}
@media only screen {
.switch-toggle-right {margin-right:9px; margin-bottom:12px;}
.switch-light {display:block; min-height:1.875em; position:relative;overflow:visible; padding:0;}
.switch-light * {box-sizing:border-box; }
.switch-light a {display:block; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; transition:all 0.2s ease-out; }
.switch-light label, .switch-light > span {line-height:1.875em; vertical-align:middle;}
.switch-light input:focus ~ a, .switch-light input:focus + label {outline:1px dotted #888;}
.switch-light label {position:relative; z-index:3; display:block; width:100%; }
.switch-light input {position:absolute; opacity:0; z-index:5;}
.switch-light input:checked ~ a {right:0%;}
.switch-light > span {position:absolute;left:-6.25em; width:100%; margin:0; padding-right:6.25em; text-align:left;}
.switch-light > span span {position:absolute; top:0;left:0; z-index:5; display:block; width:50%; margin-left:6.25em; text-align: center;}
.switch-light > span span:last-child {left:50%;}
.switch-light a { position:absolute; right:50%; top:0; z-index:4; display:block;  width:50%; height:100%; padding:0; }
.switch-toggle { display:block;min-height:1.875em; position:relative; display:table; table-layout:fixed; padding: 0 !important;}
.switch-toggle * { box-sizing:border-box; }
.switch-toggle a { display:block; -webkit-transition: all 0.2s ease-out; -moz-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
.switch-toggle label, .switch-toggle > span {line-height:1.875em; vertical-align: middle;}
.switch-toggle input:focus ~ a, .switch-toggle input:focus + label {outline: 1px dotted #888;}
.switch-toggle * {font-size: 12px;}
.switch-toggle input { position:absolute; opacity:0; }
.switch-toggle input + label {position:relative; cursor:pointer; z-index:2; display:table-cell; /*width:50%;*/ padding:4px 16px; margin:0; text-align:center;}
.switch-toggle a {position: absolute; top:0; left:0; padding:0; z-index:1; width:50%; height:100%;}
.switch-toggle input:last-of-type:checked ~ a {left:50%;}
.switch-candy {background-color:#2d3035; color:#fff; font-weight:bold; text-align:center; text-shadow:1px 1px 1px #191b1e; 
box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2); }
.switch-candy label {color:#fff; -webkit-transition:color 0.2s ease-out; -moz-transition:color 0.2s ease-out; transition:color 0.2s ease-out;}
.switch-candy input:checked + label {color:#fff; text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}
.switch-candy a {border:1px solid #333; background-color:#69C; outline:none !important; 
box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.45);}
.switch-candy > span {color:#333; text-shadow:none;}
.switch-candy span {color:#fff;}
.switch-candy.switch-candy-blue a {background-color:#38a3d4;}
.switch-candy.switch-candy-yellow a {background-color:#f5e560;}
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
.switch-light, .switch-toggle {-webkit-animation: webkitSiblingBugfix infinite 1s;} 
}
@-webkit-keyframes webkitSiblingBugfix { 
from {-webkit-transform:translate3d(0, 0, 0);}
to {-webkit-transform: translate3d(0, 0, 0);} 
}
/* top header custom check box design css END */
 