/**
 * Override styles configured via admin panel
 */



/* Additional styles for interface icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Icons with no background
-------------------------------------------------------------- */
/* Toolbar */
.sorter .view-mode a,
.sorter .sort-by .category-asc,
.sorter .sort-by .category-desc,
.pager .pages li a,

/* Slider arrows (for zoom thumbnails) */
.slider-arrows3 .owl-controls .owl-buttons div,
.slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover
{
	/*background-color:transparent;*/
}

/* Other icons
-------------------------------------------------------------- */
/* Add-to links icons in product grid - square, no rounding */
.products-grid .addto-links-icons span.icon { border-radius: 0; }

/* Pager */
.pager .pages li a { background-color:#f5f5f5; }

/* Add-to links */
.addto-links-icons .ic { background-color:#fff; }
