<ul class="list-select">

<?php
$validate = '';
$options = $this->getFieldOptions();
foreach($this->getFieldOptions() as $i=>$option){
	$checked = false;
	if($option["checked"]){
		$checked = 'checked';
	}
	if($this->getField()->getRequired() && $i==(count($options)-1)){
		$validate = "validate-one-required-by-name";
		if($this->getField()->getData('validate_regex')){
			$validate.= ' validate-field-'.$this->getField()->getId();
		}
		$validate.=' '.$this->getFieldClass();
	}
	if(!empty($option["value"])){
		$label = $option["label"];
		if($option["image_src"]){
			$label = "<img src='{$option['image_src']}'/>";
		}
?>

<li class='control'>
	<input type='checkbox' name='<?php echo $this->getFieldName()?>[]' id='<?php echo $this->getFieldId().$i?>' value="<?php echo htmlspecialchars($option["value"])?>" class='checkbox <?php echo $validate?>' <?php echo $checked?>/>
	<label for='<?php echo $this->getFieldId().$i?>' class='' style='<?php echo $this->getFieldStyle()?>'><?php echo $label?></label>
    <?php 
        $tooltip = $this->getField()->getTooltip($option["value"]);
        if($tooltip){
            echo $this->getLayout()->createBlock(
                'core/template',
                'field' . $this->getField()->getId() .'_option'. $i . '_tooltip',
                array(
                    'tooltip' => $tooltip,
                    'template' => 'webforms/scripts/tooltip.phtml',
                )
            )->toHtml();
        }
    ?>
    <?php if($validate && $this->getField()->getValidationAdvice()){?>
        <div class="validation-advice" id="advice-validate-one-required-by-name-field<?php echo $this->getField()->getId().$i?>" style="display:none"><?php echo $this->getField()->getValidationAdvice()?></div>
    <?php }?>
</li>

<?php
	}
}

?>

</ul>
