#fc_parent {
	width: 712px;
	border: 1px solid red;
	margin-bottom: 10px;
	z-index: 2001;
	background-color: #d7eaf0;
	border: 1px solid #a9d9e7;
	font-size: 11px;
	margin: 6px 6px 0 0;
	overflow: visible;
}
#fc_parent.static {

}
#fc_parent.scroll {
	position: fixed;
	bottom: 0;
}
#fc_parent .compare-items {
	float: left;
	height: 68px;
	overflow: hidden;
}
.compare-items .compare-item {
	background-color: #e7f2f6;
	float: left;
	height: 58px;
	width: 130px;
	position: relative;
	margin: 4px 18px 0 5px;
}
.compare-items .compare-item .thumb_holder {
	border: 1px solid #a9d9e7;
	background-color: #FFF;
	display: block;
	float: left;
	height: 50px;
	margin: 3px 4px 3px 3px;
	width: 43px;
}
.compare-items .compare-item.empty_item .thumb_holder {
	background: url("../images/fc_add_item.jpg") no-repeat scroll 0 4px white;
}
.compare-items .compare-item .thumb_holder IMG {
	max-height: 42px;
	max-width: 42px;
	margin: 6px auto 0;
	display: block;
}
.compare-items .compare-item P {
	display: block;
	height: 54px;
	margin-top: 3px;
	overflow: hidden;
	text-align: left;
	width: 72px;
}
.compare-items .compare-item.empty_item P {
	color: #999;
}
.compare-item .delete, .compare-cart-wrapper .close {
	background: url("../images/fc_item_close.gif") transparent;
	cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	right: -8px;
	bottom: -7px;
	width: 17px;
}
#fc_parent .compare-controls {
	float: right;
	height: 68px;
	left: -5px;
	position: relative;
	text-align: left;
	width: 90px;
}
#fc_parent button {
	margin: 10px 0px 0 -15px;
}
.fc_close {
	background: url("../images/fc_close_icon.png") transparent;
	height: 16px;
	width: 16px;
	cursor: pointer;
	right: -12px;
	top: -4px;
	display: block;
	position: absolute;
	bottom: -4px;
}
#fc_r {
	position: fixed;
	min-height: 40%;
	max-height: 80%;
	min-width: 40%;
	max-width: 80%;
	display: none;
	box-shadow: 0 1px 30px #000000;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	overflow: visible;
	z-index: 9999;
}
#fc_result_par {
	overflow: auto;
}
#fc_result {
	padding:5px;
}
#fc_r .fc_r_cl {
    float: right;
    height: 100%;
    position: absolute;
    right: 4px;
    top: -5px;
}
.hidden {
	display: none;
}


.closed {
	display: none;
}
#product_comparison .owl-carousel {
	width: 175px;
	margin: 0 auto;
}
#product_comparison .item {
	text-align: center;
}
#product_comparison .product-label {
	text-align: left;
}
#product_comparison .owl-theme .owl-controls .owl-buttons [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#product_comparison .owl-controls {
    display: block !important;
}
#product_comparison .owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
#product_comparison .owl-theme .owl-buttons i {
  margin-top: 2px;
}
#product_comparison .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
#product_comparison .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -10px;
  top: 30px; 
  background-color: #1f567d;
}
#product_comparison .owl-theme .owl-controls .owl-buttons .owl-next {
  right: -10px;
  top: 30px;
  background-color: #1f567d;
}
#product_comparison .attr-label {
	font-weight: bold;
}

.srgry-hsp-toggle {
	float: right;
}